@charset "UTF-8";
@font-face {
  font-family: RoobertENEL;
  src: url("assets/fonts/RoobertENEL-Light.eot");
  src: url("assets/fonts/RoobertENEL-Light.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Light.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: RoobertENEL;
  src: url("assets/fonts/RoobertENEL-Regular.eot");
  src: url("assets/fonts/RoobertENEL-Regular.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Regular.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RoobertENEL;
  src: url("assets/fonts/RoobertENEL-Bold.eot");
  src: url("assets/fonts/RoobertENEL-Bold.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Bold.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RoobertENEL;
  src: url("assets/fonts/RoobertENEL-Black.eot");
  src: url("assets/fonts/RoobertENEL-Black.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Black.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}
.st0 {
  fill: #0555FA;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1,
body h2,
body h3,
body h4,
html h1,
html h2,
html h3,
html h4 {
  cursor: default;
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.1;
}

html {
  font-size: 10px;
}

@media (min-width: 576px) {
  html {
    font-size: 9px;
  }
}
body {
  font-family: RoobertENEL, serif;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
  text-align: left;
  letter-spacing: 0.02rem;
}

body .htm-container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

:focus {
  outline: 0;
}

button {
  font-family: RoobertENEL, serif;
}

p {
  font-weight: 300;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

a,
a:active,
a:focus,
a:hover {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.bold-text {
  font-weight: 700;
}

.htm-btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.htm-none {
  display: none;
}

.htm-block {
  display: block;
}

@media (min-width: 576px) {
  .htm-sm-none {
    display: none;
  }

  .htm-sm-block {
    display: block;
  }
}
@media (min-width: 768px) {
  .htm-md-none {
    display: none;
  }

  .htm-md-block {
    display: block;
  }
}
@media (min-width: 992px) {
  .htm-lg-block {
    display: block;
  }

  .htm-lg-none {
    display: none;
  }
}
@media (min-width: 1200px) {
  .htm-xl-none {
    display: none;
  }

  .htm-xl-block {
    display: block;
  }
}
.t-justify {
  text-align: justify;
}

@media (min-width: 360px) {
  .htm-resp-cust {
    display: block;
  }
}
@media (min-width: 700px) {
  .htm-resp-cust {
    display: none;
  }
}
#hml-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  height: 40px;
  align-items: center;
}

@media (min-width: 992px) {
  #hml-header {
    height: 74px;
  }
}
#hml-header .htm-page-logo {
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 400px) {
  #hml-header .htm-page-logo {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  #hml-header .htm-page-logo {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  #hml-header .htm-page-logo {
    font-size: 38px;
  }
}
#hml-header .htm-page-logo span {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 0 1rem;
}

#hml-header #countdown {
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 400px) {
  #hml-header #countdown {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  #hml-header #countdown {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #hml-header #countdown {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #hml-header #countdown {
    font-size: 30px;
  }
}
#hml-header #countdown h4 {
  margin: 0;
  padding: 0;
}

#htm-visual {
  position: relative;
  overflow: hidden;
  background-color: #000;
  z-index: 1;
  max-height: 42vh;
}
@media (min-width: 576px) {
  #htm-visual {
    max-height: 50vh;
  }
}

#htm-visual .htm-container {
  position: relative;
}

#htm-visual .logo {
  position: absolute;
  z-index: 3;
  top: 20px;
}

#htm-visual .logo-enel {
  width: 12.5%;
  min-width: 85px;
  height: auto;
}

#htm-visual .logo-richiamo {
  position: absolute;
  top: 25px;
  width: 321px;
  height: 86px;
  right: 0;
}

#htm-visual .logo-richiamo.mob {
  top: auto;
  bottom: 100px;
  width: 65px;
  height: 65px;
}

#htm-visual h1 {
  position: absolute;
  font-weight: 900;
  z-index: 99;
  width: 94%;
  left: 3%;
  top: 62%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  font-size: 1em;
}

@media (min-width: 576px) {
  #htm-visual h1 {
    font-size: 3rem;
    top: 68%;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) {
  #htm-visual h1 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  #htm-visual h1 {
    font-size: 5.237rem;
  }
}
#htm-visual .htm-visual-bg {
  position: relative;
  min-height: 40vh;
}

@media (min-width: 576px) {
  #htm-visual .htm-visual-bg {
    padding-top: 42.25%;
    min-height: auto;
  }
}
@media all and (-ms-high-contrast: none) {
  #htm-visual .logo {
    top: 55px;
  }

  #htm-visual .logo,
* ::-ms-backdrop {
    top: 55px;
  }
}
#slider .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 2s;
}

#slider .slide.showing {
  opacity: 1;
  z-index: 2;
}
#slider .slide.showing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

#slider .slide img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 101%;
  height: 101%;
  min-width: 101%;
  min-height: 101%;
}

.htm-btn-phone {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #55be5a;
  color: #fff;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  z-index: 5;
}

.htm-btn-phone:hover {
  background-color: #ff5a0f;
}

.htm-btn-phone span {
  display: inline-block;
  vertical-align: middle;
  font-family: RoobertENEL, serif;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 14px;
  border: 2px solid #ffffff;
  width: 280px;
  margin: auto;
  padding: 4px 2px;
}

#htm-content {
  padding-bottom: 0;
  background-color: #f1f1f1;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

#htm-content .htm-container {
  max-width: 1140px;
}

#htm-content .htm-content-sconto {
  min-height: 90px;
  padding-top: 40px;
  color: #fff;
}

#htm-content .htm-content-sconto h3,
#htm-content .htm-content-sconto p {
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#htm-content .htm-content-sconto p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 85%;
}

#htm-content .htm-content-sconto p strong {
  font-weight: 500;
}

#htm-content .htm-content-sconto h3 {
  margin-top: 5px;
  font-size: 36px;
}

#htm-content .htm-content-sconto h3 strong {
  font-weight: 700;
}

@media (min-width: 576px) {
  #htm-content .htm-content-sconto {
    min-height: 114px;
  }

  #htm-content .htm-content-sconto p {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 1.8rem;
  }

  #htm-content .htm-content-sconto p strong {
    font-weight: 500;
  }

  #htm-content .htm-content-sconto h3 {
    margin-top: 0;
    font-size: 49px;
  }

  #htm-content .htm-content-sconto h3 strong {
    font-weight: 700;
  }
}
#htm-content .htm-carosuel-info {
  padding-top: 17px;
  margin-bottom: 27px;
  color: #fff;
}

#htm-content .htm-carosuel-info p {
  font-weight: 300;
  text-align: center;
  margin: 5px auto;
  font-size: 1.5rem;
  width: 85%;
}

#htm-content .htm-carosuel-info p strong {
  font-weight: 500;
}

@media (min-width: 576px) {
  #htm-content .htm-carosuel-info p {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 1.85rem;
  }

  #htm-content .htm-carosuel-info p strong {
    font-weight: 500;
  }
}
#htm-content section {
  font-size: 1.2rem;
  text-align: center;
}

#htm-content section > div {
  height: 100%;
}

#htm-content section .htm-box {
  color: #666;
  margin-top: 0;
  margin-left: 0;
}

@media (max-width: 320px) {
  #htm-content section .htm-box {
    width: 292px;
  }
}
@media (min-width: 768px) {
  #htm-content section .htm-box {
    width: 380px;
    min-height: 370px;
    vertical-align: middle;
  }
}
#htm-content section .htm-box > div {
  background-color: #fff;
  text-align: center;
  margin: 0 2rem;
  padding: 0 2rem;
  max-width: 95vw;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}
@media (min-width: 735px) {
  #htm-content section .htm-box > div {
    margin: 0 auto;
    max-width: 346px;
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  #htm-content section .htm-box > div {
    margin: auto;
  }
}
#htm-content section .htm-box > div .htm-box-content {
  padding-top: 40px;
}

#htm-content section .htm-box-content .htm-box-icon {
  display: flex;
  justify-content: center;
}

#htm-content .htm-slide-content p {
  font-size: 1.6rem;
  font-weight: 700;
}
#htm-content .htm-slide-content .htm-box-content p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  white-space: normal;
  font-weight: 300;
}

#htm-content section .htm-box > div .htm-box-content .hideMercatoLibero {
  opacity: 0;
  position: absolute;
}

#htm-content section .htm-box > div .htm-box-content .imgarancio {
  display: block;
}

#htm-content section .htm-box > div .htm-box-content h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 2.2rem auto 0;
  letter-spacing: -0.02rem;
  font-weight: 400;
  color: #323232;
}

#htm-content section .htm-box > div .htm-box-content h3 sup {
  font-size: small;
  margin-left: 2px;
}

@media (min-width: 576px) {
  #htm-content section .htm-box > div .htm-box-content h3 {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  #htm-content section .htm-box > div .htm-box-content h3 {
    font-size: 2.8rem;
  }
}
@media (min-width: 992px) {
  #htm-content section .htm-box > div .htm-box-content h3 {
    font-size: 3.1rem;
  }
}
#htm-content section .htm-box .htm-cont-prezzo p {
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
}

#htm-content section .htm-box .htm-cont-prezzo p .strike {
  text-decoration: line-through;
}

#htm-content section .htm-box .htm-cont-prezzo p .big {
  font-size: 15px;
  font-weight: 900;
}

#htm-content section .htm-box .htm-cont-prezzo p .orario {
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.4rem;
}

#htm-content section .htm-box .htm-cont-prezzo p span {
  margin-top: 2px;
  display: inline-block;
}

#htm-content section .htm-box .htm-btn-richiesta {
  font-size: 1.6rem;
  padding: 1rem 2.2rem;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: -0.5px;
  position: relative;
  margin: 0px auto 20px auto;
  color: #fff;
  border: 1px solid #0555fa;
  background-color: #0555fa;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

#htm-content section .htm-box .htm-btn-richiesta:hover {
  color: #0555fa;
  border: 1px solid #0555fa;
  background: #fff;
  display: block;
}

#htm-content section .htm-box .htm-btn-richiesta span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  #htm-content section .htm-box .htm-btn-richiesta {
    font-size: 1.9rem;
    max-width: 300px;
    padding: 1.45rem 2.2rem;
    box-sizing: border-box;
  }
}
@media (min-width: 992px) {
  #htm-content section .htm-box .htm-btn-richiesta {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  #htm-content section .htm-box .htm-btn-richiesta {
    font-size: 2.4rem;
  }
}
#htm-content section .htm-box.old-client > div .htm-box-content .imgverde {
  opacity: 1;
  position: relative;
}

#htm-content section .htm-box.old-client > div .htm-box-content h3 {
  color: #55be5a;
}

#htm-content section .htm-box.old-client .htm-btn-richiesta {
  border: 1px solid #55be5a;
  background-color: #55be5a;
}

#htm-content section .htm-box.old-client .htm-btn-richiesta:hover {
  color: #55be5a;
  border: 1px solid #55be5a;
  background-color: #fff;
}

#htm-content section .htm-box .htm-btn-richiesta2 {
  font-size: 1.6rem;
  padding: 1rem 2.2rem;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: -0.5px;
  position: relative;
  bottom: 20px;
  margin: auto;
  right: 0;
  left: 0;
  color: #fff;
  border: 1px solid #0555fa;
  background-color: #0555fa;
  width: 80%;
  max-width: 266px;
}

#htm-content section .htm-box .htm-btn-richiesta2:hover {
  color: #0555fa;
  border: 1px solid #0555fa;
  background: #fff;
  display: block;
}

#htm-content section .htm-box .htm-btn-richiesta2 span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  #htm-content section .htm-box .htm-btn-richiesta2 {
    font-size: 1.9rem;
    width: 100%;
    padding: 1.45rem 2.2rem;
    box-sizing: border-box;
  }
}
@media (min-width: 992px) {
  #htm-content section .htm-box .htm-btn-richiesta2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  #htm-content section .htm-box .htm-btn-richiesta2 {
    font-size: 2.4rem;
  }
}
#htm-content section .htm-box.old-client > div .htm-box-content .imgverde {
  opacity: 1;
  position: relative;
}

#htm-content section .htm-box.old-client > div .htm-box-content h3 {
  color: #55be5a;
}

#htm-content section .htm-box.old-client .htm-btn-richiesta2 {
  border: 1px solid #55be5a;
  background-color: #55be5a;
}

#htm-content section .htm-box.old-client .htm-btn-richiesta2:hover {
  color: #55be5a;
  border: 1px solid #55be5a;
  background-color: #fff;
}

#htm-content section ::-webkit-scrollbar {
  height: 4px;
}

#htm-content section ::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #ededed;
}

#htm-content section ::-webkit-scrollbar-thumb {
  background: #55be5a;
  border-radius: 2px;
}

#htm-content section ::-webkit-scrollbar-thumb:hover {
  background: #666;
}

#htm-content section .htm-carousel-button {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  height: 60px;
  width: 30px;
  border-radius: 20px;
  background-color: rgba(223, 223, 223, 0.6);
  background-image: url("assets/img/arrow_prev.png");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0;
}

#htm-content section .htm-carousel-button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

@media (min-width: 576px) {
  #htm-content section .htm-carousel-button {
    display: block;
    margin-top: -40px;
    height: 80px;
    width: 40px;
  }
}
#htm-content section .htm-carousel-button.htm-carousel-button-prev {
  left: -10px;
}

#htm-content section .htm-carousel-button.htm-carousel-button-next {
  background-image: url("assets/img/arrow_next.png");
  right: -10px;
}

#htm-content .htm-carousel {
  margin: auto;
  width: 100%;
  padding: 0;
  position: relative;
}

#carousel-container {
  display: grid;
  grid-gap: 0;
  min-height: 470px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  grid-gap: 0;
  padding-right: 0;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
  -webkit-scroll-behavior-duration: 0.5s;
  -webkit-scroll-behavior-timing-function: ease-in;
}
@media (min-width: 360px) {
  #carousel-container {
    grid-template-columns: repeat(2, 370px);
  }
}
@media (min-width: 735px) {
  #carousel-container {
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

#carousel-container > div {
  max-width: 100vw;
}

#carousel-container::-webkit-scrollbar:horizontal {
  height: 4px;
  background-color: #fff;
}

#carousel-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #55be5a;
  cursor: pointer;
}

#carousel-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

@media (min-width: 1140px) {
  #carousel-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #carousel-container::-webkit-scrollbar {
    display: none;
  }
}
#htm-content #anchor-content {
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  #htm-content #anchor-content {
    top: -150px;
  }
}
.htm-box .action-link {
  margin-top: auto;
  margin-bottom: 0;
}

.htm-claim-wrapper {
  padding: 3rem 0;
  max-width: 92%;
  margin: 0 auto;
}
.htm-claim-wrapper p {
  margin: 0 auto;
  padding: 0;
}

.htm-claim-wrapper .green-image {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
}

.t-center {
  text-align: center;
}

.htm-claim-carousel {
  padding: 3rem 0;
  max-width: 92%;
  margin: 0 auto;
}

.htm-claim-carousel span {
  color: #0555fa;
}

.htm-slide-content {
  min-height: auto;
}

.htm-cont-prezzo {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  margin: 0 auto 1rem auto;
  width: 100%;
  max-width: 300px;
  padding: 0.9rem 0;
  box-sizing: border-box;
}
.htm-cont-prezzo.b-top-0 {
  border-top: 0;
}
.htm-cont-prezzo.to-bottom {
  margin-top: 5.5rem;
  padding-top: 2rem;
}

.htm-cont-prezzo h4 {
  margin: 0;
  color: #666;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
}
.htm-cont-prezzo h4 .smaller {
  font-weight: 300;
  font-size: 1.3rem;
}
.htm-cont-prezzo h4 .overline {
  font-weight: 300;
  font-size: 1.3rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  line-height: 1rem;
}

.htm-cont-prezzo h5 {
  font-size: 1.1rem;
  margin: 0.4rem 0 0 0;
  color: #666;
  font-weight: 400;
}

#htm-content section .htm-box .htm-cont-prezzo p {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .htm-cont-prezzo h4 {
    font-size: 1.8rem;
  }
}
.htm-box-content ul {
  padding: 0;
  padding-left: 20px;
  text-align: left;
  list-style: outside;
}

.htm-box-content ul li {
  white-space: normal;
  font-size: 1.6rem;
  font-weight: 300;
  width: 90%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: #666;
  letter-spacing: -0.04em;
  list-style-position: outside;
}

.htm-box-content .infoLink {
  max-width: 90%;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.infoLink a {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: auto;
  color: #222;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  text-decoration: underline;
  cursor: pointer;
}

.infoLink a:hover {
  color: #ff5a0f;
}

#carousel-container {
  padding-bottom: 2rem;
}

@media (min-width: 1110px) {
  #carousel-container {
    padding-bottom: 0;
  }
}
.htm-claim-txt {
  font-size: 1.65rem;
}

@media (min-width: 768px) {
  .htm-claim-txt {
    font-size: 2.6rem;
  }
}
.arrownavigation {
  position: absolute;
  top: 50%;
  width: 98%;
  left: 1%;
  z-index: 999999;
  right: 1%;
}

.arrownavigation .arrownav {
  position: absolute;
  top: 50%;
  background-color: #a4a4a4;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftarrow {
  left: 0;
}

#leftarrow:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#rightarrow:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 0;
}

#rightarrow {
  right: 0;
}

.arrownav:before {
  content: "";
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

#htm-content .arrownavigation {
  display: none;
  opacity: 1;
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.5s;
}

#htm-content:hover .arrownavigation {
  display: block;
  opacity: 1;
}

@media (min-width: 735px) {
  #htm-content .arrownavigation {
    display: none;
  }

  #htm-content:hover .arrownavigation {
    display: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
/* Opera < 12.1 */
#htm-claim {
  background-color: #fff;
  font-size: 2.2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-weight: 300;
  text-align: center;
}
#htm-claim p {
  font-size: 2rem;
  font-weight: 300;
  color: #222;
  padding: 0 2rem;
  margin: 3.2rem auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 538px;
}

#htm-claim .htm-container {
  max-width: 1116px;
}

#htm-claim strong {
  font-weight: 700;
}
#htm-claim strong.c-black {
  color: #222;
}
#htm-claim strong.c-blue {
  color: #0555FA;
}

@media (min-width: 600px) {
  #htm-claim {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  #htm-claim p {
    font-size: 2.3rem;
    max-width: 570px;
  }
}
@media (min-width: 768px) {
  #htm-claim {
    padding: 0;
  }

  #htm-claim p {
    max-width: 700px;
    font-size: 2.9rem;
  }

  #htm-claim p.htm-claim-1 {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  #htm-claim p {
    font-size: 2.8rem;
    line-height: 1.2;
    max-width: 960px;
  }
}
@media (min-width: 1110px) {
  #htm-claim p {
    font-size: 3rem;
    max-width: 1071px;
  }
}
@media (min-width: 1220px) {
  #htm-claim p {
    font-size: 3.2rem;
    max-width: 1100px;
  }
}
#lightbox-pod {
  z-index: 1010;
  display: none;
}

#lightbox-pod {
  position: fixed !important;
  z-index: 1000;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  transition: opacity 0.1s ease-in;
  opacity: 0;
  display: none;
}

#lightbox-pod.show {
  display: inline-block;
  z-index: 1010;
  transition: opacity 0.1s ease-in;
  opacity: 1;
  visibility: visible;
}

.lightbox-overlay-wrapper {
  display: block;
  height: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 0;
  margin: auto;
}

.lightbox-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.lightbox-overlay :focus {
  outline: 0;
}

.lightbox-overlay .lightbox-content {
  background-color: #fff;
  position: absolute;
  width: 74%;
  margin: auto;
  padding: 40px 7% 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  max-height: 588px;
  max-width: 954px;
  min-height: 420px;
  text-align: center;
}

.lightbox-overlay .lightbox-content .btn-close {
  position: absolute;
  top: 20px;
  right: 7%;
  border: none;
  background: 0 0;
  cursor: pointer;
}

.lightbox-overlay .lightbox-content h4 {
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
}

.lightbox-overlay .lightbox-content li,
.lightbox-overlay .lightbox-content p,
.lightbox-overlay .lightbox-content ul {
  font-size: 21px;
}

@media (max-width: 320px) {
  .lightbox-overlay .lightbox-content h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .lightbox-overlay .lightbox-content p {
    font-size: 18px;
  }

  .lightbox-overlay .lightbox-content img {
    max-width: 95px;
    max-height: 125px;
  }
}
@media (max-width: 576px) {
  .lightbox-overlay .lightbox-content img {
    max-width: 135px;
    max-height: 180px;
  }
}
@media (min-width: 768px) {
  .lightbox-overlay .lightbox-content {
    width: 85%;
    padding: 40px 50px 60px;
  }

  .lightbox-overlay .lightbox-content .btn-close {
    top: 25px;
    right: 25px;
  }

  .lightbox-overlay .lightbox-content img {
    max-width: unset;
    max-height: unset;
  }

  .lightbox-overlay .lightbox-content h4 {
    font-size: 35px;
  }

  .lightbox-overlay .lightbox-content p {
    font-size: 29px;
  }
}
@media (max-height: 790px) and (min-width: 576px) {
  .lightbox-overlay .lightbox-content img {
    max-width: 165px;
    max-height: 220px;
  }
}
#htm-tabs-container {
  padding-top: 2rem;
  padding-bottom: 0;
  background-color: #ff5a0f;
  transition: background-color 0.3s ease-in-out;
}

#htm-tabs-container.old-client {
  background-color: #55be5a;
}

#htm-tabs-container .htm-container {
  width: 100%;
}

@media (min-width: 768px) {
  #htm-tabs-container .htm-container {
    width: 90%;
  }
}
#htm-tabs-container .htm-container .infoLink {
  margin-bottom: 35px;
  text-align: center;
  color: #fff;
}

#htm-tabs-container .htm-container .infoLink h3 {
  font-weight: 400;
  font-size: 28px;
}

#htm-tabs-container .htm-container .infoLink h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

#htm-tabs-container .htm-container .infoLink h4 a {
  font-size: inherit;
  font-weight: inherit;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 576px) {
  #htm-tabs-container .htm-container .infoLink h3 {
    font-size: 48px;
  }

  #htm-tabs-container .htm-container .infoLink h4 {
    font-size: 26px;
  }
}
#htm-tabs-container .htm-tabs {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle {
  display: block;
  height: 60px;
  width: 90%;
  max-width: 348px;
  padding: 3px;
  border: 2px solid #666;
  border-radius: 80px;
  position: relative;
  background-color: #fff;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-switch {
  position: absolute;
  z-index: 0;
  display: block;
  border-radius: 80px;
  width: calc(50% - 6px);
  height: calc(100% - 6px);
  background-color: #ff5a0f;
  top: 3px;
  left: 3px;
  transition: all 0.3s ease-in-out;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-switch.old-client {
  left: 50%;
  background-color: #55be5a;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn {
  width: calc(50% - 6px);
  height: 100%;
  z-index: 10;
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn.old-client {
  color: #666;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn-tutela {
  color: #666;
}

#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn-tutela.old-client {
  color: #fff;
}

.htm-btn-verifica {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #135bf6;
  color: #fff;
  height: 40px;
  padding: 0 15px;
}

.htm-btn-verifica:hover {
  background-color: #55be5a;
}

.htm-btn-verifica span {
  display: inline-block;
  vertical-align: middle;
  font-family: RoobertENEL, serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.htm-btn-verifica img {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#htm-bg-overlay {
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.2s;
}

#htm-bg-overlay button {
  opacity: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#htm-bg-overlay.open {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: 1;
}

#htm-footer {
  background: #fff;
  padding-bottom: 70px;
  border-top: 2px solid #e5e5e5;
}

@media (min-width: 768px) {
  #htm-footer {
    padding-bottom: 0;
  }
}
#htm-footer .content-client {
  opacity: 0;
  height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

#htm-footer.new-client .content-client.content-new-client {
  opacity: 1;
  height: auto;
}

#htm-footer.old-client .content-client.content-old-client {
  opacity: 1;
  height: auto;
}

#htm-footer .htm-disclaimer {
  font-weight: 300;
  font-size: 9px;
  color: #222;
  padding: 15px 0;
  text-align: justify;
}

#htm-footer .htm-disclaimer h4 {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

#htm-footer .htm-disclaimer p {
  font-size: 9px;
}

#htm-footer .htm-disclaimer a {
  color: #010101;
  font-weight: 400;
}

#htm-footer .htm-disclaimer .no_uppercase {
  text-transform: none;
}

#htm-footer .htm-loghi {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

#htm-footer .htm-loghi > div {
  flex-grow: 0.2;
}

@media (min-width: 576px) {
  #htm-footer .htm-loghi > div {
    flex-grow: 2;
  }
}
#htm-footer .htm-loghi .htm-your-power {
  min-width: 70px;
  width: 20.4%;
  max-width: 180px;
  height: auto;
}

#htm-footer .htm-loghi .logo-energia {
  min-width: 80px;
  max-width: 170px;
  width: 19.09%;
  margin-right: 4%;
  margin-bottom: 0;
  height: auto;
}

#htm-footer .htm-loghi .logo-enel {
  min-width: 55px;
  width: 12%;
  max-width: 125px;
  height: auto;
}

#htm-footer .htm-loghi .logo-amazon-prime {
  min-width: 60px;
  width: 15%;
  max-width: 204px;
  margin-right: 4%;
  margin-bottom: 0;
  height: auto;
}

.cmlead_outro {
  background-color: #55be5a;
  width: 100%;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
}

.cmlead_outro > div {
  width: 90%;
  display: flex;
  margin: auto;
}

.cmlead_outro > div .blocco-loghetto {
  height: 100%;
  margin: auto;
  margin-right: 29px;
}

.cmlead_outro > div .blocco-loghetto .loghetto {
  min-width: 30px;
  width: 12%;
  max-width: 35px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .cmlead_outro > div .blocco-loghetto {
    margin-right: 21px;
  }
}
.cmlead_outro > div .blocco-testo {
  padding-right: 0px;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .cmlead_outro {
    padding: 10px 10px;
  }

  .cmlead_outro > div {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .cmlead_outro > div .blocco-testo {
    padding-right: 0;
    font-size: 18px;
  }
}
.cmlead_outro p {
  width: 92%;
  margin: 0 auto;
}

.cmlead_outro > div {
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
}

.cmlead_outro p {
  font-size: 2.1rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .cmlead_outro p {
    font-size: 2.6rem;
  }
}
.cmlead_outro a {
  text-align: center;
  background: #fff;
  text-decoration: none;
  background: #00c24a;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: -0.5px;
  position: relative;
  color: #00c24a;
  border: 1px solid #00c24a;
  background-color: #fff;
  border: 1px solid transparent;
  width: 80%;
  height: 50px;
  line-height: 50px;
  max-width: 275px;
  margin: 0 auto;
  display: block;
  font-size: 1.6rem;
}

.cmlead_outro a span {
  font-size: inherit;
  font-weight: 900;
  letter-spacing: -0.5px;
  line-height: 50px;
}

.cmlead_outro a:hover {
  color: #fff;
  background-color: #00c24a;
  border: 1px solid #fff;
}

@media (min-width: 768px) {
  .cmlead_outro a {
    line-height: 71px;
    font-size: 2.4rem;
    width: 371px;
    max-width: 371px;
    height: 71px;
  }
}
#htm-box-form {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
}

#htm-box-form .htm-form {
  padding: 0 5%;
  width: 90%;
  position: relative;
  background-color: #f7f7f7;
}

#htm-box-form .htm-form .htm-btn-close {
  margin-left: -10%;
  margin-top: 10px;
  border: none;
  background-color: #f7f7f7;
  padding: 10px 5%;
}

#htm-box-form .htm-form h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 5px;
}

#htm-box-form .htm-form input,
#htm-box-form .htm-form select {
  border: 1px solid #d9d9d9;
  padding: 0 10px 0 20px;
  min-height: 48px;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #htm-box-form .htm-form input,
#htm-box-form .htm-form select {
    width: calc(94% - 2px);
    min-height: 48px;
    box-sizing: content-box !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 890px) {
  #htm-box-form .htm-form input,
#htm-box-form .htm-form select {
    padding: 0 10px;
  }
}
#htm-box-form .htm-form select {
  min-height: 48px;
  background-image: url("assets/img/ico/select.png");
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: auto 20%;
  min-width: calc(100% - 9px);
}

@media screen and (min-width: 768px) and (max-width: 890px) {
  #htm-box-form .htm-form select {
    background-position: center right 5px;
  }
}
@media (min-width: 768px) {
  #htm-box-form .htm-form select {
    min-width: calc(66% + 20px);
  }
}
.max200 {
  max-width: 200px !important;
}

#htm-box-form .htm-form .htm-btn-submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #55be5a;
  color: #fff;
  height: 50px;
  padding: 0 15px;
  width: 100%;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  text-align: left;
  line-height: 38px;
}

#htm-box-form .htm-form .htm-btn-submit a,
#htm-box-form .htm-form .htm-btn-submit span {
  display: inline-block;
  font-family: RoobertENEL, serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

#htm-box-form .htm-form .htm-btn-submit a {
  color: #fff;
  display: block;
  text-align: center;
}

#htm-box-form .htm-form .htm-btn-submit img {
  width: 15px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

#htm-box-form .htm-form .htm-btn-submit img.arrow {
  opacity: 1;
}

#htm-box-form .htm-form .htm-btn-submit img.arrow_hover {
  opacity: 0;
}

#htm-box-form .htm-form .htm-btn-submit:hover {
  color: #55be5a;
  border: 1px solid #55be5a;
  background-color: #fff;
}

#htm-box-form .htm-form .htm-btn-submit:hover a {
  color: #55be5a;
  display: block;
}

#htm-box-form .htm-form .htm-btn-submit:hover .arrow {
  opacity: 0;
}

#htm-box-form .htm-form .htm-btn-submit:hover .arrow_hover {
  opacity: 1;
}

#htm-box-form .htm-form .htm-btn-submit:disabled {
  opacity: 0.4;
  pointer-events: none;
}

#htm-box-form .htm-form #ctaLead {
  color: #222;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
}

#htm-box-form .htm-form #ctaLead:hover {
  color: #55be5a;
}

#htm-box-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
}

#htm-box-form fieldset .selection-field {
  display: flex;
  align-items: center;
  min-width: 135px;
  flex-wrap: wrap;
  margin-right: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#htm-box-form fieldset .selection-field input {
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  border: 0;
}

#htm-box-form fieldset .selection-field input:checked ~ .checkmark {
  background-color: #55be5a;
}

#htm-box-form fieldset .selection-field label {
  margin-left: 14px;
  line-height: 1.2;
  font-size: 16px;
  outline: 0;
  text-align: left;
}

@media (min-width: 768px) {
  #htm-box-form fieldset .selection-field label {
    margin-left: 15px;
    font-size: 18px;
  }
}
#htm-box-form fieldset .selection-field input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  margin: 0;
  display: flex;
  border: 3px solid #999;
  cursor: pointer;
  font: inherit;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  min-height: 30px;
  margin: 10px 0;
}

#htm-box-form fieldset .selection-field input[type=radio]:before {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: inset 20px 20px #55be5a;
  width: 10px;
  height: 10px;
  margin: auto;
  transform: scale(0);
  transition: all 150ms ease-in-out;
}

#htm-box-form fieldset .selection-field input[type=radio]:checked:before {
  transform: scale(1);
}

#validator_row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  #validator_row {
    flex-direction: column;
  }

  #validator_row > .form-group,
#validator_row > .form-radio-selector {
    width: 100% !important;
  }
}
#validator_row .form-group {
  width: 50%;
}

#validator_row .form-group #validator_container {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}

#validator_row .form-group #validator_container label {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 700;
}

#validator_row .form-group #rcaptcha_form_lead_a_caldo {
  display: inline-flex;
  justify-content: center;
}

#validator_row .form-radio-selector {
  width: 50%;
  justify-content: center;
}

#validator_row .form-radio-selector .selection-field {
  flex-wrap: nowrap !important;
  margin-top: 38.8px;
}

#validator_row .form-radio-selector .selection-field:last-of-type {
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  #htm-box-form {
    top: 100%;
    overflow: visible;
    max-width: 100%;
    min-height: 160px;
  }

  #htm-box-form .htm-form {
    width: 92%;
    padding: 12px 2%;
    margin: auto;
    width: 80%;
    max-width: 1110px;
    padding: 20px 5%;
  }

  #htm-box-form .htm-form h2 {
    font-size: 2rem;
    font-weight: 300;
    font-size: 2.1rem;
  }

  #htm-box-form .htm-form .htm-btn-submit {
    padding: 0 5px;
  }

  #htm-box-form .htm-form .htm-btn-submit span {
    font-size: 0.9rem;
    padding-left: 4%;
    font-size: 1rem;
  }

  #htm-box-form .htm-form .htm-btn-submit img {
    width: 10px;
    margin-left: 2px;
    width: 12px;
    margin-left: 5px;
  }
}
@media (min-width: 992px) {
  #htm-box-form .htm-form h2 {
    font-size: 2.2rem;
  }

  #htm-box-form .htm-form .htm-btn-submit {
    padding: 0 5px;
    max-width: 300px;
  }

  #htm-box-form .htm-form .htm-btn-submit span {
    font-size: 1.2rem;
  }

  #htm-box-form .htm-form .htm-btn-submit img {
    width: 14px;
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  #htm-box-form {
    position: relative;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
  }

  .observer-box-form {
    position: relative;
  }
}
#htm-btn-form-mobile {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #135bf6;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 100;
  top: 2rem;
  right: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

#htm-btn-form-mobile:hover {
  background-color: #55be5a;
}

.radio-selector {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 37px;
}

.radio-selector [option] {
  display: flex;
  align-items: center;
  outline: 0;
  font-size: 16px;
  line-height: 24px;
  margin-right: 14px;
}

@media (min-width: 768px) {
  .radio-selector [option] {
    margin-right: 42px;
    font-size: 18px;
  }
}
.radio-selector [option]:before {
  transition: background 0.25s ease-in-out;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: var(--space-1);
  border-radius: 100%;
  background-color: #fff;
  border: 2px solid grey;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .radio-selector [option]:before {
    margin-right: 24px;
  }
}
.radio-selector [option][selected] {
  cursor: auto;
  outline: 0;
}

.radio-selector [option][selected]:before {
  text-align: center;
  content: " •";
  color: #55be5a;
  background-color: #fff;
  border: 2px solid grey;
  font-size: 40px;
  line-height: 18px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cmlead .vertical-center {
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }
}
.cmlead {
  background-color: #f7f7f7;
}

.cmlead_intro {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 1px;
}

.cmlead_intro h3 {
  font-size: 30px;
  font-weight: 400;
  color: inherit;
}
.cmlead_intro h3.c-blue {
  color: #0555FA;
}
@media (min-width: 768px) {
  .cmlead_intro h3 {
    font-size: 36px;
  }
}

.cmlead_intro h4 {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

.cmlead_row ::-webkit-scrollbar {
  width: 10px;
}

.cmlead_row ::-webkit-scrollbar-track {
  background: #fff;
}

.cmlead_row ::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #d1d1d1;
}

.cmlead_row ::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

.blocco-privacy {
  width: 86%;
  height: 84px;
  overflow-y: scroll;
  line-height: 15px;
  border: 1px solid #d9d9d9;
  padding: 15px 22px;
}

.blocco-privacy h4 {
  margin-top: 0;
  font-size: 15px;
  color: #222;
}

.blocco-privacy span {
  font-size: 12px;
  line-height: 14px;
  color: #666;
}

@media screen and (min-width: 768px) {
  .blocco-privacy {
    width: 100%;
  }
}
.cmlead_row {
  padding: 5px 0;
  display: flex;
  width: 100%;
}

.cmlead_row.first {
  padding: 0 0 15px;
}

.cmlead_form {
  display: flex;
}

.cmlead_form .cmlead_row {
  padding: 0 150px 30px;
}

.cmlead_row input {
  width: 100%;
}

.cmlead_row select {
  width: 100%;
}

.cmlead_row h2 {
  font-size: 30px;
  font-weight: 700;
}

.ui-menu .ui-menu-item {
  margin: 0;
  width: 100%;
}

.ui-menu .ui-menu-item a {
  display: block;
  font-weight: 400;
  line-height: 18px;
  min-height: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 4px 0 10px;
}

.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-focus {
  font-weight: 400;
  background: #eee;
  cursor: pointer;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}

.ui-autocomplete::-webkit-scrollbar {
  width: 7px;
}

.ui-autocomplete::-webkit-scrollbar-track {
  background: #fff;
}

.notMatch {
  margin: 0;
  background: #f7f6f6;
  padding: 0 3%;
  box-shadow: 2px 2px 10px silver;
  position: absolute;
  width: 94%;
  z-index: 99;
  height: 50px;
  line-height: 42px;
}

.notMatch.hidden {
  display: none;
}

.cmlead_col .notMatch p {
  font-size: 13px;
  line-height: 17px;
  padding: 8px 0;
  margin: 0;
  display: inline-block;
}

@media screen and (max-width: 1023px) {
  .cmlead_row.first {
    padding: 0 0 5px;
  }
}
.ui-menu .ui-state-disabled a {
  cursor: default;
}

@media screen and (min-width: 768px) {
  .cmlead_col:not(:first-child) {
    margin-left: 30px;
  }
}
.cmlead_col p {
  margin: 10px 0;
  font-size: 15px;
}

.cmlead_col label {
  -webkit-font-smoothing: auto;
  margin: 10px 0;
  font-size: 15px;
}

input::-moz-placeholder {
  color: #d9d9d9;
}

input:-ms-input-placeholder {
  color: #d9d9d9;
}

input::placeholder {
  color: #d9d9d9;
}

.cmlead_col.col-6 {
  width: 35%;
  position: relative;
}

.cmlead_col.col-4 {
  width: 23%;
  position: relative;
}

.cmlead_col.col-2 {
  width: 12%;
  position: relative;
}

.cmlead_col input.inputError {
  border: 2px solid #ff0f64;
}

.cmlead_col .error {
  color: #ff0f64;
  font-size: 12px;
}

.cmlead_col .error.hidden {
  display: none;
}

.cmlead .ui-widget {
  width: 100%;
}

.cmlead .form-control {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  color: #000;
  background: #fff;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  transition: all 0.1s linear;
}

.cmlead .screen-reader-text {
  font-size: 0;
}

.cmlead .autocomplete-list {
  background: #eee;
  box-shadow: 0 0 10px #c4c4c4;
  z-index: 1;
  max-height: 100px;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.cmlead .autocomplete-list li {
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

.cmlead .autocomplete-list li:hover {
  background: #ddd;
}

.cmlead .autocomplete-list li.disabled:hover {
  background: 0 0;
  cursor: auto;
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
  .cmlead_form {
    display: flex;
    width: 100%;
  }

  .cmlead_row {
    padding: 10px 0 0;
    display: flex;
    width: 100%;
  }

  .cmlead_col {
    max-width: 613px;
  }
}
@media screen and (min-width: 768px) and (max-width: 812px) {
  .cmlead_form {
    display: flex;
    width: 100%;
  }

  .cmlead_row {
    padding: 10px 0 0;
    display: flex;
    width: 100%;
  }

  .cmlead_col {
    max-width: 391px;
  }
}
@media screen and (max-width: 767px) {
  .cmlead {
    background-color: #f7f7f7;
    margin-bottom: 30px;
  }

  .cmlead_inner {
    padding-bottom: 10px;
    text-align: center;
  }

  .cmlead_row {
    padding: 10px 0 5px;
    display: block;
    width: 100%;
  }

  .cmlead_col .notMatch p {
    font-size: 15px;
  }

  .cmlead .form-control {
    height: 49px;
    font-size: 15px;
  }

  .cmlead_col p {
    font-size: 13px;
  }

  .cmlead_col label {
    font-size: 13px;
    -webkit-font-smoothing: auto;
  }

  .cmlead_row h2 {
    font-size: 24px;
  }

  .cmleadResult {
    font-size: 28px;
  }

  .cmleadResult_row h3 {
    font-size: 22px;
  }

  .cmleadResult_row p {
    font-size: 15px;
  }

  .cmlead_form .cmlead_row {
    padding: 20px 0 0;
    display: block;
    width: 100%;
  }

  input::-moz-placeholder {
    font-size: 15px;
  }

  input:-ms-input-placeholder {
    font-size: 15px;
  }

  input::placeholder {
    font-size: 15px;
  }

  .cmlead_form .cmlead_row:last-child {
    padding-bottom: 60px;
  }

  .cmlead_col {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .cmlead_col.col-1,
.cmlead_col.col-2,
.cmlead_col.col-4,
.cmlead_col.col-6 {
    width: 100%;
  }
}
.cmleadResult_row {
  padding: 0;
  display: block;
  width: 100%;
}

.cmleadResult {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 40px;
  margin-left: 0;
}

.cmleadResult_row h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.cmleadResult_row p {
  font-size: 18px;
}

.cmleadResultOk {
  display: none;
}

.cmleadResultKo {
  display: none;
}

.cmlead .error {
  display: none;
}

.ui-widget-content a:hover {
  color: #000;
  border: none;
}

.ui-widget-content a:not(:hover) {
  color: #000;
  border: none;
}

.cmlead .hide {
  display: none;
}

.cmleadResult_row.twocta {
  padding: 25px 0;
  float: left;
}

.inline {
  display: inline-block;
  width: 100%;
}

.cmleadResult_row.twocta {
  padding: 25px 25px 0 0;
  float: left;
  display: contents;
}

.twocta a:hover {
  text-decoration: none;
}

#ctaLead span.link {
  text-transform: unset;
  text-decoration: underline;
}

.btnrichiama {
  font-size: 1.6rem;
  color: #fff;
  border: 1px solid #55be5a;
  background-color: #55be5a;
  text-decoration: none;
  padding: 1.45rem 2.2rem;
  font-weight: 900;
  margin: auto;
}

.btnrichiama:hover {
  color: #55be5a;
  border: 1px solid #55be5a;
  background-color: #fff;
}

#wa-richiamiamo {
  display: none;
}

@media (min-width: 768px) {
  .btnrichiama {
    font-size: 2.6rem;
  }

  #wa-richiamiamo {
    display: block !important;
  }
}
@media (max-width: 576px) {
  htm-claim-1 {
    font-size: 1.4rem;
  }

  .re-desk {
    display: none !important;
  }

  .re-mob {
    display: block !important;
  }
}
@media (min-width: 576px) {
  .re-desk {
    display: block !important;
  }

  .re-mob {
    display: none !important;
  }
}
.wa {
  position: absolute;
  z-index: 999999;
  top: 10px;
  right: -2px;
  cursor: pointer;
}

#htm-call-to-action {
  display: block;
  text-align: center;
  border: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #135bf6;
  color: #fff;
  width: 100%;
  padding: 18px 0;
  z-index: 5;
  font-size: 15px;
  text-decoration: none;
}
@media (min-width: 300px) {
  #htm-call-to-action {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  #htm-call-to-action {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  #htm-call-to-action {
    font-size: 22px;
  }
}

#htm-call-to-action span {
  font-weight: 700;
}

#htm-call-to-action:hover {
  background-color: #00c24a;
}/*# sourceMappingURL=style.css.map */