#htm-content {
    padding-bottom: 0;
    background-color: #f1f1f1;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

#htm-content .htm-container {
    max-width: 1140px;
}
#htm-content .htm-content-sconto {
    min-height: 90px;
    padding-top: 40px;
    color: #fff;
}
#htm-content .htm-content-sconto h3,
#htm-content .htm-content-sconto p {
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#htm-content .htm-content-sconto p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-size: 1.5rem;
    font-weight: 300;
    width: 85%;
}
#htm-content .htm-content-sconto p strong {
    font-weight: 500;
}
#htm-content .htm-content-sconto h3 {
    margin-top: 5px;
    font-size: 36px;
}
#htm-content .htm-content-sconto h3 strong {
    font-weight: 700;
}
@media (min-width: 576px) {
    #htm-content .htm-content-sconto {
        min-height: 114px;
    }
    #htm-content .htm-content-sconto p {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        font-size: 1.8rem;
    }
    #htm-content .htm-content-sconto p strong {
        font-weight: 500;
    }
    #htm-content .htm-content-sconto h3 {
        margin-top: 0;
        font-size: 49px;
    }
    #htm-content .htm-content-sconto h3 strong {
        font-weight: 700;
    }
}
#htm-content .htm-carosuel-info {
    padding-top: 17px;
    margin-bottom: 27px;
    color: #fff;
}
#htm-content .htm-carosuel-info p {
    font-weight: 300;
    text-align: center;
    margin: 5px auto;
    font-size: 1.5rem;
    width: 85%;
}
#htm-content .htm-carosuel-info p strong {
    font-weight: 500;
}
@media (min-width: 576px) {
    #htm-content .htm-carosuel-info p {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        font-size: 1.85rem;
    }
    #htm-content .htm-carosuel-info p strong {
        font-weight: 500;
    }
}
#htm-content section {
    font-size: 1.2rem;
    text-align: center;
}
#htm-content section > div {
    height: 100%;
}
#htm-content section .htm-box {
    color: #666;
    //width: 380px;
    margin-top: 0;
    margin-left: 0;
}
@media (max-width: 320px) {
    #htm-content section .htm-box {
        width: 292px;
    }
}
@media (min-width: 768px) {
    #htm-content section .htm-box {
        width: 380px;
        min-height: 370px;
        vertical-align: middle;
    }
}
#htm-content section .htm-box > div {
    background-color: #fff;
    text-align: center;
    margin: 0 2rem;
    padding: 0 2rem;
    max-width: 95vw;
    @media (min-width: 735px) {
        margin: 0 auto;
        max-width: 346px;
        padding: 0 2rem;
    }
    padding-bottom: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    #htm-content section .htm-box > div {
        margin: auto;
    }
}
#htm-content section .htm-box > div .htm-box-content {
    padding-top: 40px;
}
#htm-content section .htm-box-content .htm-box-icon {
    display: flex;
    justify-content: center;
}
#htm-content {
    .htm-slide-content{
        p{
            font-size: 1.6rem;
            font-weight: 700;
        }
        .htm-box-content{
            p{
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                white-space: normal;
                font-weight: 300;
            }
        }
    }
}

#htm-content section .htm-box > div .htm-box-content .hideMercatoLibero {
    opacity: 0;
    position: absolute;
}
#htm-content section .htm-box > div .htm-box-content .imgarancio {
    display: block;
}
#htm-content section .htm-box > div .htm-box-content h3 {
    font-size: 2.4rem;
    line-height: 1.2;
    margin: 2.2rem auto 0;
    letter-spacing: -0.02rem;
    font-weight: 400;
    color: #323232;
}
#htm-content section .htm-box > div .htm-box-content h3 sup {
    font-size: small;
    margin-left: 2px;
}
@media (min-width: 576px) {
    #htm-content section .htm-box > div .htm-box-content h3 {
        font-size: 2.6rem;
    }
}
@media (min-width: 768px) {
    #htm-content section .htm-box > div .htm-box-content h3 {
        font-size: 2.8rem;
    }
}
@media (min-width: 992px) {
    #htm-content section .htm-box > div .htm-box-content h3 {
        font-size: 3.1rem;
    }
}
#htm-content section .htm-box .htm-cont-prezzo p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
}
#htm-content section .htm-box .htm-cont-prezzo p .strike {
    text-decoration: line-through;
}
#htm-content section .htm-box .htm-cont-prezzo p .big {
    font-size: 15px;
    font-weight: 900;
}
#htm-content section .htm-box .htm-cont-prezzo p .orario {
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.4rem;
}
#htm-content section .htm-box .htm-cont-prezzo p span {
    margin-top: 2px;
    display: inline-block;
}
#htm-content section .htm-box .htm-btn-richiesta {
    font-size: 1.6rem;
    padding: 1rem 2.2rem;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: -0.5px;
    position: relative;
    margin: 0px auto 20px auto;
    color: #fff;
    border: 1px solid #0555fa;
    background-color: #0555fa;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
#htm-content section .htm-box .htm-btn-richiesta:hover {
    color: #0555fa;
    border: 1px solid #0555fa;
    background: #fff;
    display: block;
}
#htm-content section .htm-box .htm-btn-richiesta span {
    display: inline-block;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
    #htm-content section .htm-box .htm-btn-richiesta {
        font-size: 1.9rem;
        max-width: 300px;
        padding: 1.45rem 2.2rem;
        box-sizing: border-box;
    }
}
@media (min-width: 992px) {
    #htm-content section .htm-box .htm-btn-richiesta {
        font-size: 2.2rem;
    }
}
@media (min-width: 1200px) {
    #htm-content section .htm-box .htm-btn-richiesta {
        font-size: 2.4rem;
    }
}
#htm-content section .htm-box.old-client > div .htm-box-content .imgverde {
    opacity: 1;
    position: relative;
}
#htm-content section .htm-box.old-client > div .htm-box-content h3 {
    color: #55be5a;
}
#htm-content section .htm-box.old-client .htm-btn-richiesta {
    border: 1px solid #55be5a;
    background-color: #55be5a;
}
#htm-content section .htm-box.old-client .htm-btn-richiesta:hover {
    color: #55be5a;
    border: 1px solid #55be5a;
    background-color: #fff;
}
#htm-content section .htm-box .htm-btn-richiesta2 {
    font-size: 1.6rem;
    padding: 1rem 2.2rem;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: -0.5px;
    position: relative;
    bottom: 20px;
    margin: auto;
    right: 0;
    left: 0;
    color: #fff;
    border: 1px solid #0555fa;
    background-color: #0555fa;
    width: 80%;
    max-width: 266px;
}
#htm-content section .htm-box .htm-btn-richiesta2:hover {
    color: #0555fa;
    border: 1px solid #0555fa;
    background: #fff;
    display: block;
}
#htm-content section .htm-box .htm-btn-richiesta2 span {
    display: inline-block;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
    #htm-content section .htm-box .htm-btn-richiesta2 {
        font-size: 1.9rem;
        width: 100%;
        padding: 1.45rem 2.2rem;
        box-sizing: border-box;
    }
}
@media (min-width: 992px) {
    #htm-content section .htm-box .htm-btn-richiesta2 {
        font-size: 2.2rem;
    }
}
@media (min-width: 1200px) {
    #htm-content section .htm-box .htm-btn-richiesta2 {
        font-size: 2.4rem;
    }
}
#htm-content section .htm-box.old-client > div .htm-box-content .imgverde {
    opacity: 1;
    position: relative;
}
#htm-content section .htm-box.old-client > div .htm-box-content h3 {
    color: #55be5a;
}
#htm-content section .htm-box.old-client .htm-btn-richiesta2 {
    border: 1px solid #55be5a;
    background-color: #55be5a;
}
#htm-content section .htm-box.old-client .htm-btn-richiesta2:hover {
    color: #55be5a;
    border: 1px solid #55be5a;
    background-color: #fff;
}
#htm-content section ::-webkit-scrollbar {
    height: 4px;
}
#htm-content section ::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #ededed;
}
#htm-content section ::-webkit-scrollbar-thumb {
    background: #55be5a;
    border-radius: 2px;
}
#htm-content section ::-webkit-scrollbar-thumb:hover {
    background: #666;
}
#htm-content section .htm-carousel-button {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    height: 60px;
    width: 30px;
    border-radius: 20px;
    background-color: rgba(223, 223, 223, 0.6);
    background-image: url("assets/img/arrow_prev.png");
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    outline: 0;
    padding: 0;
}
#htm-content section .htm-carousel-button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}
@media (min-width: 576px) {
    #htm-content section .htm-carousel-button {
        display: block;
        margin-top: -40px;
        height: 80px;
        width: 40px;
    }
}
#htm-content section .htm-carousel-button.htm-carousel-button-prev {
    left: -10px;
}
#htm-content section .htm-carousel-button.htm-carousel-button-next {
    background-image: url("assets/img/arrow_next.png");
    right: -10px;
}
#htm-content .htm-carousel {
    margin: auto;
    width: 100%;
    padding: 0;
    position: relative;
}
#carousel-container {
    display: grid;
    grid-gap: 0;
    min-height: 470px;
    //width: 100%;
    // max-width: 1140px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(2, 100%);
    @media (min-width: 360px) {
    grid-template-columns: repeat(2, 370px);
    }
    grid-gap: 0;
    padding-right: 0;
    margin: 0 auto;
    @media (min-width: 735px) {
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    }
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
    -webkit-scroll-behavior-duration: 0.5s;
    -webkit-scroll-behavior-timing-function: ease-in;
}
#carousel-container > div {
    max-width: 100vw;
}
#carousel-container::-webkit-scrollbar:horizontal {
    height: 4px;
    background-color: #fff;
}
#carousel-container::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #55be5a;
    cursor: pointer;
}
#carousel-container::-webkit-scrollbar {
    -webkit-appearance: none;
}
@media (min-width: 1140px) {
    #carousel-container {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    #carousel-container::-webkit-scrollbar {
        display: none;
    }
}
#htm-content #anchor-content {
    position: absolute;
    top: 0;
}
@media (min-width: 768px) {
    #htm-content #anchor-content {
        top: -150px;
    }
}

.htm-box .action-link {
    margin-top: auto;
    margin-bottom: 0;
}
.htm-claim-wrapper {
    padding: 3rem 0;
    max-width: 92%;
    margin: 0 auto;
    p{
        margin: 0 auto;
        padding: 0;
    }
}
.htm-claim-wrapper .green-image {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
}
.t-center {
    text-align: center;
}
.htm-claim-carousel{
    padding: 3rem 0;
    max-width:92%;
    margin:0 auto
}
.htm-claim-carousel span {
    color: #0555fa;
}
.htm-slide-content {
    min-height: auto
}
.htm-cont-prezzo {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin: 0 auto 1rem auto;
    width: 100%;
    max-width: 300px;
    padding: 0.9rem 0;
    box-sizing: border-box;
    &.b-top-0{
        border-top:0;
    }
    &.to-bottom{
        margin-top: 5.5rem;
        padding-top: 2rem;
    }
}
.htm-cont-prezzo h4 {
    margin: 0;
    color: #666;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    .smaller{
        font-weight: 300;
        font-size: 1.3rem;
    }
    .overline{
        font-weight: 300;
        font-size: 1.3rem;
        text-decoration-line: line-through;
        line-height: 1rem;
    }
}
.htm-cont-prezzo h5 {
    font-size: 1.1rem;
    margin: 0.4rem 0 0 0;
    color: #666;
    font-weight: 400;
}
#htm-content section .htm-box .htm-cont-prezzo p {
    margin-top: 1rem;
}
@media (min-width: 992px) {
    .htm-cont-prezzo h4 {
        font-size: 1.8rem;
    }
}
.htm-box-content ul {
    padding: 0;
    padding-left: 20px;
    text-align: left;
    list-style: outside;
}
.htm-box-content ul li {
    white-space: normal;
    font-size: 1.6rem;
    font-weight: 300;
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    color: #666;
    letter-spacing: -0.04em;
    list-style-position: outside;
}
.htm-box-content .infoLink {
    max-width: 90%;
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.infoLink a {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
    color: #222;
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    text-decoration: underline;
    cursor: pointer;
}
.infoLink a:hover {
    color: #ff5a0f;
}
#carousel-container {
    padding-bottom: 2rem;
}
@media (min-width: 1110px) {
    #carousel-container {
        padding-bottom: 0;
    }
}
.htm-claim-txt {
    font-size: 1.65rem;
}
@media (min-width: 768px) {
    .htm-claim-txt {
        font-size: 2.6rem;
    }
}



.arrownavigation {
    position: absolute;
    top: 50%;
    width: 98%;
    left: 1%;
    z-index: 999999;
    right: 1%;
  }

  .arrownavigation .arrownav {
    position: absolute;
    top: 50%;
    background-color: #a4a4a4;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #leftarrow {
    left: 0;
  }

  #leftarrow:before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  #rightarrow:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 0;
  }

  #rightarrow {
    right: 0;
  }

  .arrownav:before {
    content: "";
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }

  #htm-content .arrownavigation {
    display: none;
    opacity: 1;
    -webkit-animation: fadein 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 1.5s;
    /* Internet Explorer */
    -o-animation: fadein 1.5s;
    /* Opera < 12.1 */
    animation: fadein 1.5s;
  }

  #htm-content:hover .arrownavigation {
    display: block;
    opacity: 1;
  }

  


  @media (min-width: 735px) {
    #htm-content .arrownavigation {
      display: none;
    }
    #htm-content:hover .arrownavigation {
      display: none;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }