.cmlead_outro {
    background-color: #55be5a;
    width: 100%;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
}

.cmlead_outro > div {
    width: 90%;
    display: flex;
    margin: auto;
}

.cmlead_outro > div .blocco-loghetto {
    height: 100%;
    margin: auto;
    margin-right:29px
}

.cmlead_outro > div .blocco-loghetto .loghetto {
    min-width: 30px;
    width: 12%;
    max-width: 35px;
    height:auto
}

@media screen and (min-width: 768px) {
    .cmlead_outro > div .blocco-loghetto {
        margin-right:21px
    }
}

.cmlead_outro > div .blocco-testo {
    padding-right: 0px;
    padding-top: 2.7rem;
    padding-bottom:2.7rem;
    font-size:12px
}

@media screen and (min-width: 768px) {
    .cmlead_outro {
        padding:10px 10px
    }

    .cmlead_outro > div {
        max-width: 1110px;
        margin-left: auto;
        margin-right:auto
    }

    .cmlead_outro > div .blocco-testo {
        padding-right: 0;
        font-size:18px
    }
}

.cmlead_outro p {
    width: 92%;
    margin: 0 auto;
}
.cmlead_outro > div {
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
}
.cmlead_outro p {
    font-size: 2.1rem;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .cmlead_outro p {
        font-size: 2.6rem;
    }
}
.cmlead_outro a {
    text-align: center;
    background: #fff;
    text-decoration: none;
    background: #00c24a;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: -0.5px;
    position: relative;
    color: #00c24a;
    border: 1px solid #00c24a;
    background-color: #fff;
    border: 1px solid transparent;
    width: 80%;
    height: 50px;
    line-height: 50px;
    max-width: 275px;
    margin: 0 auto;
    display: block;
    font-size: 1.6rem;
}
.cmlead_outro a span {
    font-size: inherit;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 50px;
}
.cmlead_outro a:hover {
    color: #fff;
    background-color: #00c24a;
    border: 1px solid #fff;
}
@media (min-width: 768px) {
    .cmlead_outro a {
        line-height: 71px;
        font-size: 2.4rem;
        width: 371px;
        max-width: 371px;
        height: 71px;
    }
}