#htm-claim {
    background-color: #fff;
    font-size: 2.2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-weight: 300;
    text-align: center;
    p{
        font-size: 2rem;
        font-weight: 300;
        color: $black;
        padding: 0 2rem;
        margin: 3.2rem auto;
        width: 100%;
        box-sizing: border-box;
        max-width: 538px;
    }
}
#htm-claim .htm-container {
    max-width: 1116px;
}
#htm-claim strong {
    &.c-black{
        color: $black;
    }
    &.c-blue{
        color: $blue;
    }
    font-weight: 700;
}
@media (min-width: 600px) {
    #htm-claim {
        padding-top: 1rem;
        padding-bottom: 3rem;
        p{
            font-size: 2.3rem;
            max-width: 570px;
        }
    }
}
// @media (min-width: 600px) {
//     #htm-claim p {
//         max-width: 580px;
//         font-size: 2.9rem;
//     }
// }
@media (min-width: 768px) {
    #htm-claim {
        padding: 0;
    }
    #htm-claim p {
        max-width: 700px;
        font-size: 2.9rem;
    }
    #htm-claim p.htm-claim-1 {
        margin-bottom: 40px;
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    #htm-claim {
        p{
            font-size: 2.8rem;
            line-height: 1.2;
            max-width: 960px;
        }
    }
}

@media (min-width: 1110px) {
    #htm-claim {
        p{
            font-size: 3rem;
            max-width: 1071px;
        }
    }
}

@media (min-width: 1220px) {
    #htm-claim {
        p{
            font-size: 3.2rem;
            max-width: 1100px;
        }
    }
}