#htm-box-form {
    position: relative;
    width: 100%;
    background-color: #f7f7f7;
}
#htm-box-form .htm-form {
    padding: 0 5%;
    width: 90%;
    position: relative;
    background-color: #f7f7f7;
}
#htm-box-form .htm-form .htm-btn-close {
    margin-left: -10%;
    margin-top: 10px;
    border: none;
    background-color: #f7f7f7;
    padding: 10px 5%;
}
#htm-box-form .htm-form h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 5px;
}
#htm-box-form .htm-form input,
#htm-box-form .htm-form select {
    border: 1px solid #d9d9d9;
    padding: 0 10px 0 20px;
    // width: calc(94% - 2px);
    min-height: 48px;
    width: 100%;
    box-sizing: border-box;
    @media (min-width: 768px){
        width: calc(94% - 2px);
        min-height: 48px;
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 890px) {
    #htm-box-form .htm-form input,
    #htm-box-form .htm-form select {
        padding: 0 10px;
    }
}
#htm-box-form .htm-form select {
    min-height: 48px;
    background-image: url("assets/img/ico/select.png");
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: auto 20%;
    min-width: calc(100% - 9px);
}
@media screen and (min-width: 768px) and (max-width: 890px) {
    #htm-box-form .htm-form select {
        background-position: center right 5px;
    }
}
@media (min-width: 768px) {
    #htm-box-form .htm-form select {
        min-width: calc(66% + 20px);
    }
}
.max200 {
    max-width: 200px !important;
}
#htm-box-form .htm-form .htm-btn-submit {
    appearance: none;
    border: none;
    background-color: #55be5a;
    color: #fff;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    text-align: left;
    line-height: 38px;
}
#htm-box-form .htm-form .htm-btn-submit a,
#htm-box-form .htm-form .htm-btn-submit span {
    display: inline-block;
    font-family: RoobertENEL, serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-decoration: none;
}
#htm-box-form .htm-form .htm-btn-submit a {
    color: #fff;
    display: block;
    text-align: center;
}
#htm-box-form .htm-form .htm-btn-submit img {
    width: 15px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
#htm-box-form .htm-form .htm-btn-submit img.arrow {
    opacity: 1;
}
#htm-box-form .htm-form .htm-btn-submit img.arrow_hover {
    opacity: 0;
}
#htm-box-form .htm-form .htm-btn-submit:hover {
    color: #55be5a;
    border: 1px solid #55be5a;
    background-color: #fff;
}
#htm-box-form .htm-form .htm-btn-submit:hover a {
    color: #55be5a;
    display: block;
}
#htm-box-form .htm-form .htm-btn-submit:hover .arrow {
    opacity: 0;
}
#htm-box-form .htm-form .htm-btn-submit:hover .arrow_hover {
    opacity: 1;
}
#htm-box-form .htm-form .htm-btn-submit:disabled {
    opacity: 0.4;
    pointer-events: none;
}
#htm-box-form .htm-form #ctaLead {
    color: #222;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
}
#htm-box-form .htm-form #ctaLead:hover {
    color: #55be5a;
}
#htm-box-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
}
#htm-box-form fieldset .selection-field {
    display: flex;
    align-items: center;
    min-width: 135px;
    flex-wrap: wrap;
    margin-right: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#htm-box-form fieldset .selection-field input {
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    border: 0;
}
#htm-box-form fieldset .selection-field input:checked ~ .checkmark {
    background-color: #55be5a;
}
#htm-box-form fieldset .selection-field label {
    margin-left: 14px;
    line-height: 1.2;
    font-size: 16px;
    outline: 0;
    text-align: left;
}
@media (min-width: 768px) {
    #htm-box-form fieldset .selection-field label {
        margin-left: 15px;
        font-size: 18px;
    }
}
#htm-box-form fieldset .selection-field input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    display: flex;
    border: 3px solid #999;
    cursor: pointer;
    font: inherit;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    min-height: 30px;
    margin: 10px 0;
}
#htm-box-form fieldset .selection-field input[type="radio"]:before {
    content: "";
    display: block;
    border-radius: 50%;
    box-shadow: inset 20px 20px #55be5a;
    width: 10px;
    height: 10px;
    margin: auto;
    transform: scale(0);
    transition: all 150ms ease-in-out;
}
#htm-box-form fieldset .selection-field input[type="radio"]:checked:before {
    transform: scale(1);
}
#validator_row {
    display: flex;
    flex-direction: row;
}
@media (max-width: 700px) {
    #validator_row {
        flex-direction: column;
    }
    #validator_row > .form-group,
    #validator_row > .form-radio-selector {
        width: 100% !important;
    }
}
#validator_row .form-group {
    width: 50%;
}
#validator_row .form-group #validator_container {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
}
#validator_row .form-group #validator_container label {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 700;
}
#validator_row .form-group #rcaptcha_form_lead_a_caldo {
    display: inline-flex;
    justify-content: center;
}
#validator_row .form-radio-selector {
    width: 50%;
    justify-content: center;
}
#validator_row .form-radio-selector .selection-field {
    flex-wrap: nowrap !important;
    margin-top: 38.8px;
}
#validator_row .form-radio-selector .selection-field:last-of-type {
    margin-right: 0 !important;
}
@media (min-width: 768px) {
    #htm-box-form {
        top: 100%;
        overflow: visible;
        max-width: 100%;
        min-height: 160px;
    }
    #htm-box-form .htm-form {
        width: 92%;
        padding: 12px 2%;
        margin: auto;
        width: 80%;
        max-width: 1110px;
        padding: 20px 5%;
    }
    #htm-box-form .htm-form h2 {
        font-size: 2rem;
        font-weight: 300;
        font-size: 2.1rem;
    }
    #htm-box-form .htm-form .htm-btn-submit {
        padding: 0 5px;
    }
    #htm-box-form .htm-form .htm-btn-submit span {
        font-size: 0.9rem;
        padding-left: 4%;
        font-size: 1rem;
    }
    #htm-box-form .htm-form .htm-btn-submit img {
        width: 10px;
        margin-left: 2px;
        width: 12px;
        margin-left: 5px;
    }
}
@media (min-width: 992px) {
    #htm-box-form .htm-form h2 {
        font-size: 2.2rem;
    }
    #htm-box-form .htm-form .htm-btn-submit {
        padding: 0 5px;
        max-width: 300px;
    }
    #htm-box-form .htm-form .htm-btn-submit span {
        font-size: 1.2rem;
    }
    #htm-box-form .htm-form .htm-btn-submit img {
        width: 14px;
        margin-left: 5px;
    }
}
@media (min-width: 768px) {
    #htm-box-form {
        position: relative;
        left: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
    }
    .observer-box-form {
        position: relative;
    }
}
#htm-btn-form-mobile {
    appearance: none;
    border: none;
    background-color: #135bf6;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 100;
    top: 2rem;
    right: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
#htm-btn-form-mobile:hover {
    background-color: #55be5a;
}
.radio-selector {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 37px;
}
.radio-selector [option] {
    display: flex;
    align-items: center;
    outline: 0;
    font-size: 16px;
    line-height: 24px;
    margin-right: 14px;
}
@media (min-width: 768px) {
    .radio-selector [option] {
        margin-right: 42px;
        font-size: 18px;
    }
}
.radio-selector [option]:before {
    transition: background 0.25s ease-in-out;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: var(--space-1);
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid grey;
    margin-right: 8px;
}
@media (min-width: 768px) {
    .radio-selector [option]:before {
        margin-right: 24px;
    }
}
.radio-selector [option][selected] {
    cursor: auto;
    outline: 0;
}
.radio-selector [option][selected]:before {
    text-align: center;
    content: " •";
    color: #55be5a;
    background-color: #fff;
    border: 2px solid grey;
    font-size: 40px;
    line-height: 18px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .cmlead .vertical-center {
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
.cmlead {
    background-color: #f7f7f7;
}
.cmlead_intro {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 1px;
}
.cmlead_intro h3 {
    font-size: 30px;
    font-weight: 400;
    color: inherit;
    &.c-blue{
        color: $blue;
    }
    @media (min-width: 768px) {
        font-size: 36px;
    }
}
.cmlead_intro h4 {
    color: #666;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.cmlead_row ::-webkit-scrollbar {
    width: 10px;
}
.cmlead_row ::-webkit-scrollbar-track {
    background: #fff;
}
.cmlead_row ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #d1d1d1;
}
.cmlead_row ::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}
.blocco-privacy {
    width: 86%;
    height: 84px;
    overflow-y: scroll;
    line-height: 15px;
    border: 1px solid #d9d9d9;
    padding: 15px 22px;
}
.blocco-privacy h4 {
    margin-top: 0;
    font-size: 15px;
    color: #222;
}
.blocco-privacy span {
    font-size: 12px;
    line-height: 14px;
    color: #666;
}
@media screen and (min-width: 768px) {
    .blocco-privacy {
        width: 100%;
    }
}
.cmlead_row {
    padding: 5px 0;
    display: flex;
    width: 100%;
}
.cmlead_row.first {
    padding: 0 0 15px;
}
.cmlead_form {
    display: flex;
}
.cmlead_form .cmlead_row {
    padding: 0 150px 30px;
}
.cmlead_row input {
    width: 100%;
}
.cmlead_row select {
    width: 100%;
}
.cmlead_row h2 {
    font-size: 30px;
    font-weight: 700;
}
.ui-menu .ui-menu-item {
    margin: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    display: block;
    font-weight: 400;
    line-height: 18px;
    min-height: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 4px 0 10px;
}
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-focus {
    font-weight: 400;
    background: #eee;
    cursor: pointer;
}
.ui-autocomplete::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}
.ui-autocomplete::-webkit-scrollbar {
    width: 7px;
}
.ui-autocomplete::-webkit-scrollbar-track {
    background: #fff;
}
.notMatch {
    margin: 0;
    background: #f7f6f6;
    padding: 0 3%;
    box-shadow: 2px 2px 10px silver;
    position: absolute;
    width: 94%;
    z-index: 99;
    height: 50px;
    line-height: 42px;
}
.notMatch.hidden {
    display: none;
}
.cmlead_col .notMatch p {
    font-size: 13px;
    line-height: 17px;
    padding: 8px 0;
    margin: 0;
    display: inline-block;
}
@media screen and (max-width: 1023px) {
    .cmlead_row.first {
        padding: 0 0 5px;
    }
}
.ui-menu .ui-state-disabled a {
    cursor: default;
}
@media screen and (min-width: 768px) {
    .cmlead_col:not(:first-child) {
        margin-left: 30px;
    }
}
.cmlead_col p {
    margin: 10px 0;
    font-size: 15px;
}
.cmlead_col label {
    -webkit-font-smoothing: auto;
    margin: 10px 0;
    font-size: 15px;
}
input::placeholder {
    color: #d9d9d9;
}
.cmlead_col.col-6 {
    width: 35%;
    position: relative;
}
.cmlead_col.col-4 {
    width: 23%;
    position: relative;
}
.cmlead_col.col-2 {
    width: 12%;
    position: relative;
}
.cmlead_col input.inputError {
    border: 2px solid #ff0f64;
}
.cmlead_col .error {
    color: #ff0f64;
    font-size: 12px;
}
.cmlead_col .error.hidden {
    display: none;
}
.cmlead .ui-widget {
    width: 100%;
}
.cmlead .form-control {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    color: #000;
    background: #fff;
    z-index: 2;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.cmlead .screen-reader-text {
    font-size: 0;
}
.cmlead .autocomplete-list {
    background: #eee;
    box-shadow: 0 0 10px #c4c4c4;
    z-index: 1;
    max-height: 100px;
    overflow: auto;
    position: absolute;
    width: 100%;
}
.cmlead .autocomplete-list li {
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}
.cmlead .autocomplete-list li:hover {
    background: #ddd;
}
.cmlead .autocomplete-list li.disabled:hover {
    background: 0 0;
    cursor: auto;
}
@media screen and (min-width: 813px) and (max-width: 1024px) {
    .cmlead_form {
        display: flex;
        width: 100%;
    }
    .cmlead_row {
        padding: 10px 0 0;
        display: flex;
        width: 100%;
    }
    .cmlead_col {
        max-width: 613px;
    }
}
@media screen and (min-width: 768px) and (max-width: 812px) {
    .cmlead_form {
        display: flex;
        width: 100%;
    }
    .cmlead_row {
        padding: 10px 0 0;
        display: flex;
        width: 100%;
    }
    .cmlead_col {
        max-width: 391px;
    }
}
@media screen and (max-width: 767px) {
    .cmlead {
        background-color: #f7f7f7;
        margin-bottom: 30px;
    }
    .cmlead_inner {
        padding-bottom: 10px;
        text-align: center;
    }
    .cmlead_row {
        padding: 10px 0 5px;
        display: block;
        width: 100%;
    }
    .cmlead_col .notMatch p {
        font-size: 15px;
    }
    .cmlead .form-control {
        height: 49px;
        font-size: 15px;
    }
    .cmlead_col p {
        font-size: 13px;
    }
    .cmlead_col label {
        font-size: 13px;
        -webkit-font-smoothing: auto;
    }
    .cmlead_row h2 {
        font-size: 24px;
    }
    .cmleadResult {
        font-size: 28px;
    }
    .cmleadResult_row h3 {
        font-size: 22px;
    }
    .cmleadResult_row p {
        font-size: 15px;
    }
    .cmlead_form .cmlead_row {
        padding: 20px 0 0;
        display: block;
        width: 100%;
    }
    input::placeholder {
        font-size: 15px;
    }
    .cmlead_form .cmlead_row:last-child {
        padding-bottom: 60px;
    }
    .cmlead_col {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .cmlead_col.col-1,
    .cmlead_col.col-2,
    .cmlead_col.col-4,
    .cmlead_col.col-6 {
        width: 100%;
    }
}
.cmleadResult_row {
    padding: 0;
    display: block;
    width: 100%;
}
.cmleadResult {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
    margin-left: 0;
}
.cmleadResult_row h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.cmleadResult_row p {
    font-size: 18px;
}
.cmleadResultOk {
    display: none;
}
.cmleadResultKo {
    display: none;
}
.cmlead .error {
    display: none;
}
.ui-widget-content a:hover {
    color: #000;
    border: none;
}
.ui-widget-content a:not(:hover) {
    color: #000;
    border: none;
}
.cmlead .hide {
    display: none;
}
.cmleadResult_row.twocta {
    padding: 25px 0;
    float: left;
}
.inline {
    display: inline-block;
    width: 100%;
}
.cmleadResult_row.twocta {
    padding: 25px 25px 0 0;
    float: left;
    display: contents;
}
.twocta a:hover {
    text-decoration: none;
}
#ctaLead span.link {
    text-transform: unset;
    text-decoration: underline;
}