@font-face {
    font-family: RoobertENEL;
    src: url("assets/fonts/RoobertENEL-Light.eot");
    src: url("assets/fonts/RoobertENEL-Light.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Light.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: RoobertENEL;
    src: url("assets/fonts/RoobertENEL-Regular.eot");
    src: url("assets/fonts/RoobertENEL-Regular.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Regular.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: RoobertENEL;
    src: url("assets/fonts/RoobertENEL-Bold.eot");
    src: url("assets/fonts/RoobertENEL-Bold.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Bold.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: RoobertENEL;
    src: url("assets/fonts/RoobertENEL-Black.eot");
    src: url("assets/fonts/RoobertENEL-Black.eot?#iefix") format("embedded-opentype"), url(assets/fonts/RoobertENEL-Black.woff2) format("woff2"), url(assets/fonts/RoobertENEL-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
}

@import './color';

html {
    scroll-behavior: smooth;
}
body,
html {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body h1,
body h2,
body h3,
body h4,
html h1,
html h2,
html h3,
html h4 {
    cursor: default;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.1;
}
html {
    font-size: 10px;
}
@media (min-width: 576px) {
    html {
        font-size: 9px;
    }
}
body {
    font-family: RoobertENEL, serif;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.3;
    color: $black;
    text-align: left;
    letter-spacing: 0.02rem;
}
body .htm-container {
    width: 90%;
    max-width: 1110px;
    margin: auto;
}
:focus {
    outline: 0;
}
button {
    font-family: RoobertENEL, serif;
}
p {
    font-weight: 300;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
ol,
ul {
    list-style: none;
    padding-left: 0;
}
a,
a:active,
a:focus,
a:hover {
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}
.bold-text {
    font-weight: 700;
}
.htm-btn {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.htm-none {
    display: none;
}
.htm-block {
    display: block;
}
@media (min-width: 576px) {
    .htm-sm-none {
        display: none;
    }
    .htm-sm-block {
        display: block;
    }
}
@media (min-width: 768px) {
    .htm-md-none {
        display: none;
    }
    .htm-md-block {
        display: block;
    }
}
@media (min-width: 992px) {
    .htm-lg-block {
        display: block;
    }
    .htm-lg-none {
        display: none;
    }
}
@media (min-width: 1200px) {
    .htm-xl-none {
        display: none;
    }
    .htm-xl-block {
        display: block;
    }
}

@import './helper';


#hml-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    height: 40px;
    align-items: center;
}
@media (min-width: 992px) {
    #hml-header {
        height: 74px;
    }
}
#hml-header .htm-page-logo {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.2;
}
@media (min-width: 400px) {
    #hml-header .htm-page-logo {
        font-size: 16px;
    }
}
@media (min-width: 600px) {
    #hml-header .htm-page-logo {
        font-size: 22px;
    }
}
@media (min-width: 992px) {
    #hml-header .htm-page-logo {
        font-size: 38px;
    }
}
#hml-header .htm-page-logo span {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 0 1rem;
}
#hml-header #countdown {
    font-weight: 700;
    font-size: 14px;
}
@media (min-width: 400px) {
    #hml-header #countdown {
        font-size: 16px;
    }
}
@media (min-width: 600px) {
    #hml-header #countdown {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    #hml-header #countdown {
        font-size: 24px;
    }
}
@media (min-width: 992px) {
    #hml-header #countdown {
        font-size: 30px;
    }
}
#hml-header #countdown h4 {
    margin: 0;
    padding: 0;
}
#htm-visual {
    position: relative;
    overflow: hidden;
    background-color: #000;
    z-index: 1;
    max-height: 42vh;
    @media (min-width: 576px) {
        max-height: 50vh;
    }
}
#htm-visual .htm-container {
    position: relative;
}
#htm-visual .logo {
    position: absolute;
    z-index: 3;
    top: 20px;
}
#htm-visual .logo-enel {
    width: 12.5%;
    min-width: 85px;
    height: auto;
}
#htm-visual .logo-richiamo {
    position: absolute;
    top: 25px;
    width: 321px;
    height: 86px;
    right: 0;
}
#htm-visual .logo-richiamo.mob {
    top: auto;
    bottom: 100px;
    width: 65px;
    height: 65px;
}
#htm-visual h1 {
    position: absolute;
    font-weight: 900;
    z-index: 99;
    width: 94%;
    left: 3%;
    top: 62%;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-size: 1em;
}
@media (min-width: 576px) {
    #htm-visual h1 {
        font-size: 3rem;
        top: 68%;
        transform: translateY(-50%);
    }
}
@media (min-width: 768px) {
    #htm-visual h1 {
        font-size: 4rem;
    }
}
@media (min-width: 992px) {
    #htm-visual h1 {
        font-size: 5.237rem;
    }
}
#htm-visual .htm-visual-bg {
    position: relative;
    min-height: 40vh;
}
@media (min-width: 576px) {
    #htm-visual .htm-visual-bg {
        padding-top: 42.25%;
        min-height: auto;
    }
}
@media all and (-ms-high-contrast: none) {
    #htm-visual .logo {
        top: 55px;
    }
    #htm-visual .logo,
    * ::-ms-backdrop {
        top: 55px;
    }
}
#slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
#slider .slide.showing {
    opacity: 1;
    z-index: 2;
    &::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
    }
}
#slider .slide img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 101%;
    height: 101%;
    min-width: 101%;
    min-height: 101%;
}
.htm-btn-phone {
    appearance: none;
    border: none;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #55be5a;
    color: #fff;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    z-index: 5;
}
.htm-btn-phone:hover {
    background-color: #ff5a0f;
}
.htm-btn-phone span {
    display: inline-block;
    vertical-align: middle;
    font-family: RoobertENEL, serif;
    font-size: 21px;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 14px;
    border: 2px solid #ffffff;
    width: 280px;
    margin: auto;
    padding: 4px 2px;
}

@import './carosello';

@import './firstclaim';
#lightbox-pod {
    z-index: 1010;
    display: none;
}
#lightbox-pod {
    position: fixed !important;
    z-index: 1000;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    transition: opacity 0.1s ease-in;
    opacity: 0;
    display: none;
}
#lightbox-pod.show {
    display: inline-block;
    z-index: 1010;
    transition: opacity 0.1s ease-in;
    opacity: 1;
    visibility: visible;
}
.lightbox-overlay-wrapper {
    display: block;
    height: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 0;
    margin: auto;
}
.lightbox-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
.lightbox-overlay :focus {
    outline: 0;
}
.lightbox-overlay .lightbox-content {
    background-color: #fff;
    position: absolute;
    width: 74%;
    margin: auto;
    padding: 40px 7% 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    max-height: 588px;
    max-width: 954px;
    min-height: 420px;
    text-align: center;
}
.lightbox-overlay .lightbox-content .btn-close {
    position: absolute;
    top: 20px;
    right: 7%;
    border: none;
    background: 0 0;
    cursor: pointer;
}
.lightbox-overlay .lightbox-content h4 {
    text-align: center;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 26px;
}
.lightbox-overlay .lightbox-content li,
.lightbox-overlay .lightbox-content p,
.lightbox-overlay .lightbox-content ul {
    font-size: 21px;
}
@media (max-width: 320px) {
    .lightbox-overlay .lightbox-content h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .lightbox-overlay .lightbox-content p {
        font-size: 18px;
    }
    .lightbox-overlay .lightbox-content img {
        max-width: 95px;
        max-height: 125px;
    }
}
@media (max-width: 576px) {
    .lightbox-overlay .lightbox-content img {
        max-width: 135px;
        max-height: 180px;
    }
}
@media (min-width: 768px) {
    .lightbox-overlay .lightbox-content {
        width: 85%;
        padding: 40px 50px 60px;
    }
    .lightbox-overlay .lightbox-content .btn-close {
        top: 25px;
        right: 25px;
    }
    .lightbox-overlay .lightbox-content img {
        max-width: unset;
        max-height: unset;
    }
    .lightbox-overlay .lightbox-content h4 {
        font-size: 35px;
    }
    .lightbox-overlay .lightbox-content p {
        font-size: 29px;
    }
}
@media (max-height: 790px) and (min-width: 576px) {
    .lightbox-overlay .lightbox-content img {
        max-width: 165px;
        max-height: 220px;
    }
}
#htm-tabs-container {
    padding-top: 2rem;
    padding-bottom: 0;
    background-color: #ff5a0f;
    transition: background-color 0.3s ease-in-out;
}
#htm-tabs-container.old-client {
    background-color: #55be5a;
}
#htm-tabs-container .htm-container {
    width: 100%;
}
@media (min-width: 768px) {
    #htm-tabs-container .htm-container {
        width: 90%;
    }
}
#htm-tabs-container .htm-container .infoLink {
    margin-bottom: 35px;
    text-align: center;
    color: #fff;
}
#htm-tabs-container .htm-container .infoLink h3 {
    font-weight: 400;
    font-size: 28px;
}
#htm-tabs-container .htm-container .infoLink h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}
#htm-tabs-container .htm-container .infoLink h4 a {
    font-size: inherit;
    font-weight: inherit;
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    text-decoration: underline;
    cursor: pointer;
}
@media (min-width: 576px) {
    #htm-tabs-container .htm-container .infoLink h3 {
        font-size: 48px;
    }
    #htm-tabs-container .htm-container .infoLink h4 {
        font-size: 26px;
    }
}
#htm-tabs-container .htm-tabs {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle {
    display: block;
    height: 60px;
    width: 90%;
    max-width: 348px;
    padding: 3px;
    border: 2px solid #666;
    border-radius: 80px;
    position: relative;
    background-color: #fff;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-switch {
    position: absolute;
    z-index: 0;
    display: block;
    border-radius: 80px;
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    background-color: #ff5a0f;
    top: 3px;
    left: 3px;
    transition: all 0.3s ease-in-out;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-switch.old-client {
    left: 50%;
    background-color: #55be5a;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn {
    width: calc(50% - 6px);
    height: 100%;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn.old-client {
    color: #666;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn-tutela {
    color: #666;
}
#htm-tabs-container .htm-tabs .htm-tabs-toggle .htm-tabs-toggle-btn-tutela.old-client {
    color: #fff;
}
.htm-btn-verifica {
    appearance: none;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #135bf6;
    color: #fff;
    height: 40px;
    padding: 0 15px;
}
.htm-btn-verifica:hover {
    background-color: #55be5a;
}
.htm-btn-verifica span {
    display: inline-block;
    vertical-align: middle;
    font-family: RoobertENEL, serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.htm-btn-verifica img {
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
#htm-bg-overlay {
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.2s;
}
#htm-bg-overlay button {
    opacity: 0;
    width: 100%;
    height: 100%;
    border: none;
}
#htm-bg-overlay.open {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 1;
}

#htm-footer {
    background: #fff;
    padding-bottom: 70px;
    border-top: 2px solid #e5e5e5;
}
@media (min-width: 768px) {
    #htm-footer {
        padding-bottom: 0;
    }
}
#htm-footer .content-client {
    opacity: 0;
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
}
#htm-footer.new-client .content-client.content-new-client {
    opacity: 1;
    height: auto;
}
#htm-footer.old-client .content-client.content-old-client {
    opacity: 1;
    height: auto;
}
#htm-footer .htm-disclaimer {
    font-weight: 300;
    font-size: 9px;
    color: $black;
    padding: 15px 0;
    text-align: justify;
}
#htm-footer .htm-disclaimer h4 {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
#htm-footer .htm-disclaimer p {
    font-size: 9px;
}
#htm-footer .htm-disclaimer a {
    color: #010101;
    font-weight: 400;
}
#htm-footer .htm-disclaimer .no_uppercase {
    text-transform: none;
}
#htm-footer .htm-loghi {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
#htm-footer .htm-loghi > div {
    flex-grow: 0.2;
}
@media (min-width: 576px) {
    #htm-footer .htm-loghi > div {
        flex-grow: 2;
    }
}
#htm-footer .htm-loghi .htm-your-power {
    min-width: 70px;
    width: 20.4%;
    max-width: 180px;
    height: auto;
}
#htm-footer .htm-loghi .logo-energia {
    min-width: 80px;
    max-width: 170px;
    width: 19.09%;
    margin-right: 4%;
    margin-bottom: 0;
    height: auto;
}
#htm-footer .htm-loghi .logo-enel {
    min-width: 55px;
    width: 12%;
    max-width: 125px;
    height: auto;
}
#htm-footer .htm-loghi .logo-amazon-prime {
    min-width: 60px;
    width: 15%;
    max-width: 204px;
    margin-right: 4%;
    margin-bottom: 0;
    height: auto;
}

@import './cmdoutro';

@import './form.scss';


.btnrichiama {
    font-size: 1.6rem;
    color: #fff;
    border: 1px solid #55be5a;
    background-color: #55be5a;
    text-decoration: none;
    padding: 1.45rem 2.2rem;
    font-weight: 900;
    margin: auto;
}
.btnrichiama:hover {
    color: #55be5a;
    border: 1px solid #55be5a;
    background-color: #fff;
}
#wa-richiamiamo {
    display: none;
}
@media (min-width: 768px) {
    .btnrichiama {
        font-size: 2.6rem;
    }
    #wa-richiamiamo {
        display: block !important;
    }
}
@media (max-width: 576px) {
    htm-claim-1 {
        font-size: 1.4rem;
    }
    .re-desk {
        display: none !important;
    }
    .re-mob {
        display: block !important;
    }
}
@media (min-width: 576px) {
    .re-desk {
        display: block !important;
    }
    .re-mob {
        display: none !important;
    }
}
.wa {
    position: absolute;
    z-index: 999999;
    top: 10px;
    right: -2px;
    cursor: pointer;
}
#htm-call-to-action {
    display: block;
    text-align: center;
    border: none;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #135bf6;
    color: #fff;
    width: 100%;
    padding: 18px 0;
    z-index: 5;
    font-size: 15px;
    @media (min-width: 300px) {
        font-size: 16px;
    }
    @media (min-width: 576px) {
        font-size: 22px;
    }
    text-decoration: none;
    @media (min-width: 576px) {
    font-size: 22px;
    }
}

#htm-call-to-action span {
    font-weight: 700;
}
#htm-call-to-action:hover {
    background-color: #00c24a;
}