doctype html
html(lang='it')
    head
        include includes/headtag.html
        style
            include css/style.min.css
    body
        include includes/jumboslide.html
        include includes/firstclaim.html
        include includes/content.html
        include includes/cmdoutro.html
        include includes/form.html
        include includes/footer.html
        script
            include includes/footer.js