<!-- outro cmd-->

<div class="cmlead_outro">
    <div>
      <div class="blocco-loghetto">
        <img alt="" src="assets/img/info_logo.png"  width="31" height="31" class="loghetto" >
      </div>
      <p class="blocco-testo">
        I prezzi sopra esposti sono riferiti alla sola componente energia (IVA e imposte escluse) e comprensivi delle perdite di rete
        che sono applicate come definite, pubblicate e aggiornate da ARERA. Per tutti e 2 i piani tariffari il cliente è inoltre tenuto
        al pagamento del corrispettivo di commercializzazione e vendita luce (ccv luce), che per i primi 2 anni, sarà pari a 16€/mese
        (192€/anno) IVA e imposte escluse.
      </p>
    </div>
</div>