<!-- html content -->

<div id="htm-content" data-client="client">
    <div class="htm-claim-wrapper">
      <p class="htm-claim-txt" style="margin-top:0;padding-top:0;text-align: center;">
        Scegli il tuo piano di abbonamento <br class="htm-block htm-sm-none"><span style="color: #00c24a; font-weight: 600;">100% Green.</span>
      </p>
    </div>
    <a class="target-anchor" id="anchor-content"></a>
    <div>
      <div class="htm-carousel">
        <div class="arrownavigation">
            <div id="leftarrow" class="arrownav"></div>
            <div id="rightarrow" class="arrownav"></div>
          </div>
        <section id="carousel-container">

          <div id="slide-1" class="htm-box boxactive" data-client="client">
            <div class="htm-slide-content">
              <div class="htm-box-content">
                <div class="htm-box-icon">
                    <object data="./assets/img/ico/sunrise.svg" width="70" height="60"></object>
                </div>
                <h3>Bioraria</h3>
                <p>
                    Due prezzi diversi della componente <br>
                    energia in base alla fascia oraria.
                </p>
              </div>
              <div class="htm-cont-prezzo">
                <h4>0,272307 €/kWh <br class="htm-block htm-sm-none"> <span class="smaller">invece di</span> <span class="overline">0,38901 €/kWh</span></h4>
                <h5>Dal lunedì al venerdì dalle 8 alle 20.</h5>
             </div>
             <div class="htm-cont-prezzo b-top-0">
                <h4>0,256879€/kWh <br class="htm-block htm-sm-none"><span class="smaller">invece di</span> <span class="overline">0,36697 €/kWh</span></h4>
                <h5>Tutti i giorni dalle 20 alle 8. Sabato e domenica.</h5>
             </div>
             <p>
                Corrispettivo di commercializzazione:<br> 16€/mese
            </p>
              <div class="action-link">
                <a href="https://www.enel.it/it/luce-e-gas/luce/offerte/open-energy-smart.html?landing=y&ocr=y&intcid=areapubblica-landing-open_energy_b2b_smart-cta_attiva_ora_card_null" target="_blank" class="htm-btn-richiesta htm-btn re-desk">
                  <span>ATTIVA ORA</span>
                </a>
                <a href="#anchor-form" class="htm-btn-richiesta anchor-richiesta htm-btn re-mob">
                  <span>ATTIVA ORA</span>
                </a>
              </div>

            </div>
          </div>

          <div id="slide-2" class="htm-box" data-client="client">
            <div class="htm-slide-content">
              <div class="htm-box-content">
                <div class="htm-box-icon">
                    <object data="./assets/img/ico/sun.svg" type="" width="60" height="60"></object>
                </div>
                <h3>Monoraria</h3>
                <p>
                    Unico prezzo della componente energia<br>
                    per tutte le ore del giorno.
                </p>
              </div>
              <div class="htm-cont-prezzo to-bottom">
                <h4>0,263046 €/kWh <br class="htm-block htm-sm-none"><span class="smaller">invece di</span> <span class="overline">0,37578 €/kWh</span></h4>
                <h5>Dal lunedì al venerdì dalle 8 alle 20.</h5>
             </div>
             <p>
                Corrispettivo di commercializzazione:<br> 16€/mese
            </p>
              <div class="action-link">
                <a href="https://www.enel.it/it/luce-e-gas/luce/offerte/open-energy-mono.html?landing=y&ocr=y&intcid=areapubblica-landing-open_energy_b2b_mono-cta_attiva_ora_card_null" target="_blank" class="htm-btn-richiesta htm-btn re-desk">
                  <span>ATTIVA ORA</span>
                </a>
                <a href="#anchor-form" class="htm-btn-richiesta htm-btn re-mob anchor-richiesta">
                  <span>ATTIVA ORA</span>
                </a>
              </div>

            </div>
          </div>

        </section>
      </div>
    </div>
    <p class="htm-claim-carousel htm-claim-txt t-center">
        *Il bonus di 60€ verrà riconosciuto solo aderendo online,<br>
        tale importo verrà erogato in bolletta in tranches da 6€/mese per i primi 10 mesi di fornitura.
    </p>
  </div>
