<!--
    first claim
-->

<div id="htm-claim">
      <p>
          Con <strong class="c-blue">SCEGLI OGGI BUSINESS</strong> di Enel Energia hai uno <strong class="c-blue">sconto del 30%</strong> sul prezzo  
          di listino della componente energia (da 38 a 26 cent €/kWh) bloccato per 2 anni.
            <br>In più se aderisci online hai un <br class="htm-resp-cust"><strong class="c-black">bonus di 60€</strong> in bolletta.<br>
            Corrispettivo di commercializzazione: 16€/mese.*
      </p>
</div>