<!--footer -->
  <div id="htm-footer" data-client="client">
    <div class="htm-container">
      <div class="htm-disclaimer">
        <h4>Enel Energia per il mercato libero.</h4>
        <p>
          SCEGLI OGGI BUSINESS È L'OFFERTA DI ENERGIA ELETTRICA PER CLIENTI FINALI NON DOMESTICI CON FORNITURA DI ENERGIA ELETTRICA ALIMENTATA IN BASSA TENSIONE (BT), CON POTENZA CONTRATTUALE NON SUPERIORE A 25 KW E CON CONSUMI ANNUI INFERIORI A 1.000.000 KWH. L’OFFERTA È RISERVATA A CHI HA UNA FORNITURA ATTIVA E PROVIENE DA UN ALTRO FORNITORE DI ENERGIA ELETTRICA E, PER LE SOLE ADESIONI ONLINE, ANCHE A CHI VUOLE RIATTIVARE UN CONTATORE DISATTIVATO (SUBENTRO). LA SOLA COMPONENTE ENERGIA, COMPRENSIVA DELLE PERDITE DI RETE, IVA E IMPOSTE ESCLUSE, RAPPRESENTA CIRCA IL 76% DELLA SPESA COMPLESSIVA PER L’ENERGIA ELETTRICA, IVA E IMPOSTE ESCLUSE, RIFERITA AD UN CLIENTE NON DOMESTICO CON CONSUMI ANNUI PARI A 10.000 kWh E UNA POTENZA IMPEGNATA PARI A 10 kW. TALE PERCENTUALE È RIFERITA ALLA MEDIA DEI 2 PIANI TARIFFARI DELL’OFFERTA SCEGLI OGGI BUSINESS. IL CLIENTE A PRESCINDERE DAL MERCATO DI PROVENIENZA È INOLTRE TENUTO AL PAGAMENTO DEL CORRISPETTIVO DI COMMERCIALIZZAZIONE E VENDITA LUCE (CCV LUCE) CHE, PER I PRIMI 24 MESI DI FORNITURA, SARÀ PARI A 16€/MESE (192€/ANNO), IVA E IMPOSTE ESCLUSE. LE PERDITE DI RETE ATTUALMENTE PARI A 10,2% DEI CONSUMI E LE ALTRE COMPONENTI DI SPESA SONO APPLICATE SECONDO QUANTO DEFINITO, PUBBLICATO E AGGIORNATO DA ARERA. INOLTRE ADERENDO ONLINE RICEVERAI UN BONUS DI 60€ CHE VERRÀ EROGATO IN BOLLETTA IN TRANCHES DA 6€/MESE PER I PRIMI 10 MESI DI FORNITURA. A PARTIRE DALLA DATA DI ATTIVAZIONE DI FORNITURA E NELL’ARCO DEI 10 MESI SUCCESSIVI DI OGNI ANNO CONTRATTUALE SARÀ POSSIBILE RICHIEDERE LA VARIAZIONE DEL PIANO SCELTO. A SECONDA DELLA MODALITÀ DI ADESIONE SCELTA DAL CLIENTE ENEL ENERGIA SI RISERVA LA FACOLTÀ DI RENDERE DISPONIBILE LA PRESENTE OFFERTA PER ALCUNI PROCESSI DI ATTIVAZIONE DANDONE OPPORTUNA INFORMAZIONE AL CLIENTE. TUTTE LE OFFERTE LUCE DI ENEL ENERGIA PER LE IMPRESE CON POTENZA INFERIORE A 50 kW INCLUDONO ENERGIA CERTIFICATA COME PROVENIENTE DA FONTI RINNOVABILI ATTRAVERSO IL SISTEMA DELLE GARANZIE DI ORIGINE DEL (GSE). CONDIZIONI ECONOMICHE E CONTRATTUALI VALIDE FINO AL 3 MAGGIO 2022.
        </p>
      </div>

      <div class="htm-loghi">
        <div>
          <img alt="What's your power" src="assets/img/footer/open-power.png" width="152" height="49" class="htm-your-power">
        </div>
        <img alt="Energia rinnovabile" src="assets/img/footer/energia-rinnovabile.png" width="208" height="57" class="logo-energia">
        <img alt="Enel" src="assets/img/footer/enel.png" width="130" height="48" class="logo-enel">
      </div>
    </div>
  </div>