<!-- carosello prodotti -->
<div class="target-anchor" id="anchor-form"></div>
<div id="htm-box-form" class="htm-container">
  <div class="htm-form">
    <div id="mainLead" class="cmlead anchor" data-anchor="ver" role="form" aria-label="Area form" data-service="/it/Lead">
      <input type="hidden" id="enabledLead" value="true" name="enabledLead" />
      <input type="hidden" id="enabledLead2" value="true" name="enabledLead2" />
      <div class="cmlead_inner container" style="text-align: center">
        <div class="cmlead_intro">
          <h3 class="c-blue">Vuoi saperne di più sulle nostre offerte?</h3>
          <h4>Compila il modulo con i tuoi dati. Ti ricontattiamo il prima possibile, è semplice e gratuito!</h4>
        </div>
        <form id="form-lead-a-caldo" action="/it/" target="_top">
          <div class="cmlead_row">
            <div class="cmlead_col col-4">
              <div class="cmlead_form">
                <div class="ui-widget">

                  <input aria-label="Inserisci il nome" aria-describedby="error" class="form-control ui-autocomplete-input" name="nome" id="nome" placeholder="Nome" autocomplete="off" />
                  <div class="notMatch hidden">
                    <p>Nome non inserito</p>
                  </div>
                  <p class="error">Si prega di inserire un valore</p>
                </div>
              </div>
            </div>
            <div class="cmlead_col col-4">
              <div class="cmlead_form">
                <div class="ui-widget">
                  <input aria-label="Inserisci il cognome" aria-describedby="error" class="form-control ui-autocomplete-input" name="cognome" id="cognome" placeholder="Cognome" autocomplete="off" />
                  <div class="notMatch hidden">
                    <p>Cognome non inserito</p>
                  </div>
                  <p class="error">Si prega di inserire un valore</p>
                </div>
              </div>
            </div>
            <div class="cmlead_col col-2">
              <div class="ui-widget">
                <div class="cmlead_form">

                  <select class="form-control" name="Prefisso" id="prefisso" data-allow-initialization>
                    <option value="39">+39</option>
                    <option value="49">+49</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="cmlead_col col-4">
              <div class="cmlead_form">
                <div class="ui-widget">
                  <input aria-label="Inserisci il telefono" aria-describedby="error" class="form-control ui-autocomplete-input" id="telefonoCellulare" name="telefono" placeholder="Telefono cellulare" autocomplete="off" />
                  <div class="notMatch hidden">
                    <p>Telefono non inserito</p>
                  </div>
                  <p class="error">Si prega di inserire un valore</p>
                </div>
              </div>
            </div>

            <div class="cmlead_col col-6">
              <div class="cmlead_form">
                <div class="ui-widget">
                  <button id="submitbutton" class="htm-btn-submit verifyLead" disabled>
                    <span>Ti richiamiamo noi </span>
                    <img alt="submit" src="assets/img/ico/arrow_submit.png" width="50" height="50" class="arrow">
                    <img alt="submit" src="assets/img/ico/arrow_submit_hover.png" width="50" height="50" class="arrow_hover">
                  </button>
                  <p class="verifyLeadError"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="cmlead_row">
            <div class="blocco-privacy">
              <h4>Informativa Privacy e consensi</h4>
              <span>Enel Energia, in qualità di Titolare del trattamento, ti informa che i dati personali indicati nel presente modulo sono trattati, anche con l'ausilio di strumenti informatici, per consentire ad Enel Energia di ricontattarti
                come da tua richiesta e concordare un successivo appuntamento volto ad illustrarti la tipologia di offerta da te indicata. Il rilascio dei tuoi dati è presupposto indispensabile ai fini del ricontatto ed un eventuale rifiuto non
                consentirebbe ad Enel Energia di procedere. Per il perseguimento delle finalità sopra indicate i dati potranno essere comunicati a società del Gruppo Enel, nonché a terzi fornitori di servizi, che li utilizzeranno quali Titolari
                autonomi o di Responsabili del trattamento, appositamente nominati, e potranno inoltre essere comunicati a soggetti, preposti alla gestione di alcune attività, che verranno allo scopo nominati Persone Autorizzate al trattamento. Ai
                fini dell'esercizio dei diritti di cui agli artt. 15-22 del Regolamento UE 679/2016, è possibile inviare una richiesta alla casella postale dedicata: privacy.enelenengia@enel.com. Titolare del trattamento dei dati è Enel Energia
                S.p.A. con sede legale in Viale Regina Margherita 125 - 00198 Roma, Gruppo IVA Enel P.IVA 15844561009, C.F 06655971007. Il Titolare ha designato un proprio Responsabile della Protezione dei dati personali ('RPD'), che può essere
                contattato all'indirizzo e-mail: dpo.enelenergia@enel.com, per tutte le questioni relative al trattamento dei dati personali e all'esercizio dei diritti. L'informativa completa sul trattamento dei dati personali è consultabile sul
                sito www.enel.it.</span>
            </div>
          </div>

          <div id="validator_title" class="cmlead_row">
          </div>

          <div id="validator_row" class="cmlead_row">
            <div class="form-group form-privacy">
              <div id="validator_container">
                <label class="radio-heading">Se non sei un Robot seleziona</label>
                <div id="rcaptcha_form_lead_a_caldo" class="g-recaptcha" data-sitekey="6LeC6A4UAAAAAFihxndSR2LEQ-Cnzc2vzlCQysXV"></div>
                <div id="response-captcha-div_form_lead_a_caldo" style="color:red; font-weight: bold;"></div>
                <input id="site-key" type="hidden" name="site-key" value="6LeC6A4UAAAAAFihxndSR2LEQ-Cnzc2vzlCQysXV"/>
                <input id="secret-key" type="hidden" name="secret-key" value="6LeC6A4UAAAAAIfYgiFTL3wdq_QDB6vg9ebbFo5b"/>
              </div>
            </div>

            <fieldset class="form-radio-selector" id="my-selector">
              <div class="selection-field"><input type="radio" id="acconsento" class="privacy-check" name="privacy" value="acconsento"><label for="acconsento">Acconsento</label></div>
              <div class="selection-field"><input type="radio" id="nonacconsento" class="privacy-check" name="privacy" value="nonacconsento" checked="checked"><label for="nonacconsento">Non acconsento</label></div>
            </fieldset>
          </div>

        </form>


      </div>
    </div>

    <div class="cmlead cmleadResultOk">
      <div class="cmlead_inner container">
        <div class="cmleadResult_row">
          <h3 class="cmleadResult">Grazie per aver lasciato i tuoi dati</h3>
          <h2>Operazione conclusa correttamente. Un nostro operatore ti contatterà a breve.</h2>
        </div>
        <div class="cmleadResult_row">
          <button class="htm-btn-submit max200">
            <a href="/it" title="Torna alla Home" class="btn buttonLead">Torna alla Home</a>
            <img alt="submit" src="assets/img/ico/arrow_submit.png" width="50" height="50" class="arrow">
            <img alt="submit" src="assets/img/ico/arrow_submit_hover.png" width="50" height="50" class="arrow_hover">
          </button>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="cmlead cmleadResultKo">
      <div class="cmlead_inner container">
        <div class="cmleadResult_row">
          <h3 class="cmleadResult">Richiesta di contatto</h3>
          <div>
            <h2>Si prega di riprovare più tardi.<br>
              I nostri sistemi sono momentaneamente non disponibili.</h2>
          </div>
          <p></p>
        </div>
        <div class="inline">
          <div class="cmleadResult_row twocta">
            <button class="htm-btn-submit max200">
              <a href="/it" title="Torna alla Home" class="btn buttonLead">Torna alla Home</a>
              <img alt="submit" src="assets/img/ico/arrow_submit.png" width="50" height="50" class="arrow">
              <img alt="submit" src="assets/img/ico/arrow_submit_hover.png" width="50" height="50" class="arrow_hover">
            </button>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>