<!--
    head tag
-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
<meta name="description" content="Enel" />
<meta property="og:title" content="Enel" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="" />
<meta property="og:image" content="" />
<link type="image/x-icon" href="assets/img/favicon.png" rel="shortcut icon" />
<link rel="canonical" href="." />
<title>ENEL</title>
<script defer src="assets/js/smoothscroll.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>