<!-- jumbslide -->
  <div id="htm-visual">
    <h1>
      SCEGLI OGGI LA CONVENIENZA <br /> DI ENEL ENERGIA.
    </h1>
    <div class="htm-container">
      <img alt="Enel" src="assets/img/enel.png" width="161" height="59" class="logo logo-enel">
    </div>
    <div id="slider" class="htm-visual-bg">
      <div class="slide showing">
        <img async class="jumbo htm-none htm-sm-block" width="1280" height="960" src="assets/img/carousel/slide_2_d_b.jpg">
        <img async class="jumbo htm-sm-none" width="640" height="812" src="assets/img/carousel/slide_2_d_b.jpg">
      </div>
    </div>
  </div>
  <a href="#anchor-form" id="htm-call-to-action" class="anchor-richiesta">
    La soluzione più adatta a te?<br>
    <span>CLICCA QUI PER UNA CONSULENZA</span>
  </a>